@mixin displayFlex() {
	display: block;

	// Prevents autoprefixer from outputting display: -webkit-box;, which is buggy
	& {
		/*autoprefixer: off*/
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}

}
