@mixin podHeading {
	@include oTypographySans(l);
	line-height: 30px;
	color: oColorsGetPaletteColor('warm-4');
}

@mixin linkHover {
	&:hover,
	&:active {
		border-width: 0 0 1px;
		border-style: dotted;
	}
}

.pod-heading {
	overflow: hidden;
	border: solid oColorsGetPaletteColor('warm-3');
	border-width: 0 0 1px;
	margin-bottom: 10px;
	padding: 10px 0;

	h1 {
		@include podHeading;
		float: left;
		margin: 0;
	}

	&.pod-heading--feed {
		margin-bottom: -1px;
		position: relative;
		z-index: 1;
	}
}

.popular-topics {
	float: right;
	display: inline-block;
	padding-top: 0.7em;

	li {
		display: inline-block;
		padding-left: 0.7em;
		list-style: none;
	}
}

.popular-topics__tag {
	@include nLinksTopic;
	@include oTypographySansBold(xs);
}

.carousel-heading {
	@include podHeading;
	border: 0;
	text-align: center;
	margin-bottom: 10px;
}

.pod-heading--link {
	@include oTypographySans(m);
	margin-left: 10px;
	line-height: 30px;
	float: right;
	border-bottom: 0;
	color: oColorsGetPaletteColor('link-1');

	&:after {
		@include nextIcon(go-to-circle, oColorsGetPaletteColor('link-1'), 30px);
		content: '';
		margin-left: 10px;
		vertical-align: bottom;
	}

	&:hover,
	&:active {
		color: oColorsGetPaletteColor('grey-tint5');

		&:after {
			@include nextIcon(go-to-circle, oColorsGetPaletteColor('grey-tint5'), 30px, $icon-only: true);
		}
	}
}
