$o-grid-layouts: (
	S:   490px,
	M:   740px,
	L:   980px,
	XL:  1220px
);
$o-grid-gutters: (
	default: 10px,
	M:       15px
);
$o-grid-fixed-layout: 'XL';
$o-grid-ie8-rules: 'only';
@import 'n-ui/grid/main';

// Surface current layout (for the JS helper)
@include oGridSurfaceCurrentLayout;

// Generate grid helper classes and data- attributes
@include oGridGenerate;

$o-header-is-silent: false;
@import 'n-ui/header/main';
@import 'n-section/main-ie8';

@import '../shared/components/main-ie8';

.o-header__masthead__logo--mobile,
.o-header__membership-promo-container,
.page-menu,
.back-to-top {
	display: none;
}

// Prevents background being hidden in right x-overflow area when browser window narrower than 1220px
.o-header-before,
.o-header,
.n-welcome,
.o-footer {
	min-width: 1220px;
}
