$o-grid-fixed-layout: 'XL';
$o-grid-ie8-rules: 'only';
@import 'head-shared';

$o-card-is-silent: true;
@import 'n-section/main-ie8';

@import '../shared/components/main-ie8';

.o-header__masthead__logo--mobile,
.o-header__membership-promo-container,
.page-menu,
.back-to-top {
	display: none;
}

// Prevents background being hidden in right x-overflow area when browser window narrower than 1220px
.o-header-before,
.o-header,
.n-welcome,
.o-footer {
	min-width: 1220px;
}

/*! start:main-ie8.css */
@import 'main-shared';

@import 'n-header-footer/footer/footer-ie8';
/*! end:main-ie8.css */
