@import 'head-shared';

.main-body {
	@include oGridRespondTo(S) {
		padding-left: 30px;
		padding-right: 30px;
	}
	@include oGridRespondTo(XL) {
		padding-left: oGridGutter(M);
		padding-right: oGridGutter(M);
	}
}

/* split:main.css */
@import 'main-shared';

.n-welcome--bar {
	@include oGridRespondTo(M) {
		margin-top: oGridGutter(M);
	}
}
