$o-grid-layouts: (
	S:   490px,
	M:   740px,
	L:   980px,
	XL:  1220px
);
$o-grid-gutters: (
	default: 10px,
	M:       15px
);
$o-grid-start-snappy-mode-at: XL !default;
// Turn off IE8 rules here and output them in an IE specific css file
$o-grid-ie8-rules: false !default;
$n-layout-is-silent: false;
@import 'n-layout/critical';
@import 'n-section/main';

@import 'setup';

@import 'components/ads/ads';
@import 'components/page-menu/page-menu';
@import "components/markets-data/markets-data";
@import '../shared/components/main';

html {
	background-color: getColor('pink');
	// Prevent navigation menus from creating
	// extra space on sides of the page
	overflow-x: auto;

	@include oGridTargetModernBrowsers {
		overflow-x: hidden;
	}
}

.n-layout {
	min-height: 0;
}

.main-body {
	@include oGridRespondTo(S) {
		padding-left: 30px;
		padding-right: 30px;
	}
	@include oGridRespondTo(XL) {
		padding-left: oGridGutter(M);
		padding-right: oGridGutter(M);
	}
}
