$o-grid-ie8-rules: 'only';
$o-grid-fixed-layout: 'XL';

$o-card-is-silent: true;
@import 'o-grid/main';
@import 'n-section/main-ie8';
@import '../shared/components/main-ie8';


.o-header__masthead__logo--mobile,
.o-header__membership-promo-container,
.page-menu,
.back-to-top {
	display: none;
}

// Prevents background being hidden in right x-overflow area when browser window narrower than 1220px
.o-header-before,
.o-header,
.n-welcome,
.o-footer {
	min-width: 1220px;
}

@import 'main';
