$n-ui-is-silent: true;

@import 'n-ui/non-critical';
@import "n-ui/message-prompts/main";
@import "n-video/main";

@import 'setup';
@import 'components/back-to-top/back-to-top';
@import 'components/highlight-dom-path/highlight-dom-path';
@import 'components/video/video';

.n-welcome--bar {
	margin-top: oGridGutter();

	@include oGridRespondTo(M) {
		margin-top: oGridGutter(M);
	}
}

// TODO (PW 6/5/16): All of this stuff is hacked in - if they want to go ahead with it it needs doing properly

.asymmetrical-layout {
	.card__standfirst {
		font: 14px/1.3 Georgia, serif;
	}

	.card--article[data-size*=large] .card__standfirst {
		font: 14px/1.3 Georgia, serif;
	}

	.card--has-related[data-size*=large] .card__standfirst,
	.card--opinion[data-size*=large] .card__standfirst {
		font: 16px/1.4 Georgia, serif;
	}

	.card__related-item {
		font: 14px/1.3 Georgia, serif;
	}

	.card__concept-article-link {
		font: 16px/1.3 Georgia, serif;
	}

	.card--editors-pick {
		@include oColorsFor(card-editors-pick, background);
		background-image: url('https://image.webservices.ft.com/v1/images/raw/https%3A%2F%2Fnext-geebee.ft.com%2Fassets%2Fbackgrounds%2Ffold-with-bg.svg?source=next');
		background-position: top right;
		background-repeat: no-repeat;
		background-size: 50px 55px;

		&:before {
			display: none;
		}

		.card__content {
			padding-right: 40px;
		}
	}

	//todo (PW 9/5/16) This icon needs to go into o-icons and the code belongs in n-card

	.card__brand__quote {
		background-image: url('https://image.webservices.ft.com/v1/images/raw/https%3A%2F%2Fnext-geebee.ft.com%2Fassets%2Ficons%2Fquote-marks-patterned.svg?source=next&format=svg');
	}

	//todo (PW 10/5/16) Where should this bit go?
	.section--editors-picks .card--article[data-size="large"] {
		@include oColorsFor(card-highlights-first, background);
	}

}
