$next-sass-setup-is-silent: true;
@import 'next-sass-setup/main';

@import 'n-layout/non-critical';
@import "n-message-prompts/main";
@import "n-video/main";

@import 'setup';

@import "components/back-to-top/back-to-top";
@import "components/highlight-dom-path/highlight-dom-path";
@import "components/video/video";

.n-welcome--bar {
	margin-top: oGridGutter();

	@include oGridRespondTo(M) {
		margin-top: oGridGutter(M);
	}
}

// TODO (PW 6/5/16): If we decide to use these fonts they should be added in properly via n-card and type modules

.asymmetrical-layout {
	.card__standfirst,
	.card__related-item,
	.card__concept-article-link {
		font-family: Georgia, serif;
	}

}
