.card__timestamp {
	display: block;
	font-size: 13px;
	line-height: 1em;
	margin-top: 5px;
	color: getColor('warm-6');
	text-transform: uppercase;
	font-family: $o-typography-sans;

	.fast-ft & {
		color: getColor('fastft-brand');
	}
}
