<article class="carousel-card article--{{genre}} o-grid-container o-grid-container--compact" tabindex="0" aria-labelledby="{{id}}-title" role="article">
	<div class="carousel-card--inner o-grid-row">
		{{#if primaryImage}}
			<a href="/content/{{id}}" class="carousel-card__image-link" role="presentation" aria-hidden="true" data-trackable="image-link">
				{{#responsiveImage img=primaryImage class="carousel-card__image"}}
					{{> n-image/templates/image}}
				{{/responsiveImage}}
			</a>
		{{/if}}
		<div class="carousel-card__content">
			<p class="story-card__taxon">
				<a href="{{primaryTag.url}}" data-trackable="primary-tag" class="story-card__link" tabindex="0" aria-label="Topic: {{primaryTag.name}}">
					{{primaryTag.name}}
				</a>
			</p>
			<h1 id="{{id}}-title" class="story-card__title">
				<a href="/content/{{id}}" data-trackable="main-link" class="carousel-card--link" tabindex="0" aria-label="{{title}}">
					{{title}}
				</a>
			</h1>
		</div>
	</div>
</article>
