<div class="header-tabs--outer o-grid-container">
	<ul data-o-component="o-tabs" class="header-tabs o-grid-row" role="tablist" data-trackable="header-tabs">
		<li class="header-tab" role="tab" data-o-grid-colspan="6" aria-selected="true">
			<a class="header-tab__link" href="#top-stories-section-content" data-trackable="news-tab">
				<span class="header-tab__link__text">{{newsTabTitle}}</span>
			</a>
		</li>
		<li class="header-tab" role="tab" data-o-grid-colspan="6">
			<a class="header-tab__link" href="#top-stories-section-aside" data-trackable="fastft-tab">
				<span class="header-tab__link__text">fastFT</span>
			</a>
		</li>
	</ul>
</div>
