{{#if items}}
	<section class="flexipod flexipod--lead-today" id="site-content" data-trackable="lead-today" role="region" tabindex="0" aria-labelledby="lead-pod-title">
		{{#if flags.popularTopics}}
		<div class="pod-heading" role="presentation">
			<h1 id="{{id}}-title" aria-hidden="true">Top stories</h1>
			<ul data-trackable="popular-tags" class="popular-topics">
			{{#slice popularTopics limit=4}}
				<li><a href="{{{url}}}" class="popular-topics__tag" data-trackable="tag" class="">{{name}}</a></li>
			{{/slice}}
			</ul>
		</div>
		{{/if}}
		<div class="article-group o-grid-row" role="presentation">
			{{#slice leads limit=1}}
				<div class="article no-ff-padding" data-o-grid-colspan="12">
					{{> story-card related=true showSummary=true imageSizing="lead" }}
				</div>
			{{/slice}}
		</div>
		<div class="liveblog-group o-grid-row" role="presentation">
			{{#if liveBlogs}}
				{{#each liveBlogs}}
					<div class="liveblog" data-o-grid-colspan="12">
						{{> story-card live=live imageSizing="top"}}
					</div>
				{{/each}}
			{{/if}}
		</div>
		<div class="article-group o-grid-row" role="presentation">
			{{#slice items limit=3}}
				<div class="article" data-o-grid-colspan="12 M4">
					{{> story-card imageSizing="top"}}
				</div>
			{{/slice}}
		</div>
		<div class="article-group o-grid-row" role="presentation">
			{{#slice items limit=3 offset=3}}
				<div class="article" data-o-grid-colspan="12 M4">
					{{> story-card hideImage=true}}
				</div>
			{{/slice}}
		</div>
		{{#if @root.flags.frontPageHalfPageAd}}
			<div class="article-group o-grid-row" role="presentation">
				{{#slice items limit=3 offset=6}}
					<div class="article" data-o-grid-colspan="12 M4">
						{{> story-card hideImage=true}}
					</div>
				{{/slice}}
			</div>
		{{/if}}
	</section>
{{/if}}
