{
  "extends": "./node_modules/next-build-tools/config/eslint.json",
  "ecmaFeatures": {
	"jsx": true,
	"modules": true
  },
  "rules": {
    "react/jsx-uses-react": 1
  },
  "plugins": [
    "react"
  ]
}
