.card__concept-container {
    position: relative;

    .card--non-followed-concept & {
        padding-top: 56.25%;
        background-color: getColor('black');
    }
}

.card__concept-container__text {
    position: relative;

    .card--non-followed-concept & {
        padding-bottom: 10px;
        margin-top: -56.25%;
    }
}

.card__concept-title,
.card__concept-follow {
    position: relative;
    z-index: 1;
}

.card__concept-title {
    margin: 0;
    font-family: $o-typography-sans;
    font-weight: oFontsWeight(semibold);

    .card--non-followed-concept & {
        font-size: 28px;
        line-height: 30px;
        color: getColor('white');
        text-align: center;
        margin: 0;
        padding: 20px 10px 0;
        min-height: 2em;

        @include oGridRespondTo(M) {
            font-size: 16px;
            line-height: 16px;
        }
        @include oGridRespondTo(L) {
            font-size: 18px;
            line-height: 20px;
        }
        @include oGridRespondTo(XL) {
            font-size: 28px;
            line-height: 30px;
        }
    }

    .card--followed-concept & {
        font-size: 18px;
        line-height: 20px;
        color: getColor('claret');
        padding: 10px 100px 0 15px;
        min-height: 26px;
    }
}

.card__concept-title__link {
    color: inherit;
    border-bottom: 0;
}

.card__concept-follow {
    .card--non-followed-concept & {
        margin-top: 10px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: getColor('black') 1px 1px 3px;
    }

    .card--followed-concept & {
        position: absolute;
        top: 10px;
        right: 0;
    }
}

.card__concept-image {
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    opacity: 0.5;

    .card--followed-concept & {
        position: relative;
        opacity: 1;
    }
}

.card__concept-articles {
    margin: 0;
    padding: 0;
    list-style: none;
}

.card__concept-article {
    position: relative;
    margin: 8px 0 0;
    padding-left: 15px;
}

.card__concept-article__link {
    font-family: $o-typography-serif-display;
    font-weight: oFontsWeight(light);
    font-size: 18px;
    line-height: 20px;
    color: getColor('cold-1');
    border-bottom-width: 0;
    margin-top: 8px;

    @include oGridRespondTo(M) {
        font-size: 16px;
        line-height: 16px;
    }
    @include oGridRespondTo(L) {
        font-size: 18px;
        line-height: 20px;
    }

    &:hover {
        border-bottom-width: 1px;
        border-bottom-color: inherit;
    }

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '>';
        font-size: 25px;
    }
}

// myFt promo
.myft-promo__image {
    max-width: 55%;
    display: block;
    margin: 0 auto;
}

.myft-promo__description,
.myft-promo__link-wrapper {
    text-align: center;
    margin: 10px 0 0;
}

.myft-promo__description {
    @include oTypographySans(m);
    color: getColor('cold-1');

    @include oGridRespondTo(M) {
        font-size: 16px;
        line-height: 18px;
    }
    @include oGridRespondTo(XL) {
        @include oTypographySansSize(m);
    }
}

.myft-promo__description--large {
    @include oTypographySansSize(l);

    @include oGridRespondTo(M) {
        @include oTypographySansSize(m);
    }
    @include oGridRespondTo(XL) {
        @include oTypographySansSize(l);
    }
}

.myft-promo__link {
    position: relative;
    display: inline-block;
    border-bottom-style: solid;

    &:after {
        display: inline-block;
        position: absolute;
        right: -13px;
        top: -2px;
        font-size: 1.3em;
        content: '>';
    }
}
