.card {
	width: 100%;
	background-color: getColor('pink');
	margin-top: oGridGutter();
	padding: 10px;

	@include oGridRespondTo(M) {
		margin-top: oGridGutter(M);
	}
	&.card--tall.card--has-image {
		position: relative;
		padding-bottom: 108px;
	}
	&:first-child {
		@include oGridRespondTo(M) {
			margin-top: 0;
		}
	}
	&:last-child {
		flex: 2;
	}
}
.card__tag {
	font-family: $n-type-sans-serif;
	font-weight: oFontsWeight(light);
	color: #4a90e2;
	border-bottom: 0;

	.card--large &,
	.card--medium & {
		font-size: 22px;
		line-height: 22px;
	}
	.card--small & {
		font-size: 19px;
		line-height: 19px;
	}
	.card--headline & {
		font-size: 16px;
		line-height: 16px;
	}
	.card__tag--authors & {
		color: #fbba2d;

		&:before {
			content: '“';
			color: #c3bdb6;
			font-size: 60px;
			line-height: 0;
			vertical-align: bottom;
			margin-right: 5px;
		}
	}
}
.card__title-link {
	border-bottom: 0;

	&:hover {
		border-bottom: 1px dotted;
	}
}
.card__title {
	font-family: $n-type-serif;
	font-weight: oFontsWeight(regular);
	margin-top: 5px;

	.card--large & {
		font-size: 32px;
		line-height: 37px;
	}
	.card--medium & {
		font-size: 26px;
		line-height: 32px;
	}
	.card--small & {
		font-size: 22px;
		line-height: 24px;
	 }
	.card--headline & {
		font-size: 16px;
		line-height: 16px;
		display: inline;

		&:before {
			content: '|';
			margin: 0 5px;
		}
	}
}
.card__standfirst {
	font-family: $n-type-sans-serif;
	font-weight: oFontsWeight(light);
	margin-top: 5px;

	.card__tag--authors & {
		font-family: $n-type-serif;
		font-style: italic;
		font-weight: oFontsWeight(light);
	}
	.card--large & {
		font-size: 26px;
		line-height: 32px;
	}
	.card--medium & {
		font-size: 22px;
		line-height: 22px;
	}
}
.card__image-link,
.card__image {
	display: block;
}
.card__image-link {
	margin-top: 10px;
	border-bottom: 0;

	@include oGridRespondTo($until: M) {
		display: none;

		.card--large & {
			display: block;
		}
	}
	.card--tall & {
		position: absolute;
		bottom: 10px;
		left: 10px;
		right: 10px;
	}
}
.card__image {
	width: 100%;
}
.card__related-items {
	padding: 0;
	list-style-type: none;
}
.card__related-item {
	font-family: $n-type-sans-serif;
	font-weight: oFontsWeight(light);
	font-size: 16px;
	line-height: 16px;
	margin-top: 10px;
}
.card__related-item__link {
	border-bottom: 0;

	&:hover {
		border-bottom: 1px dotted;
	}
	&:before {
		content: '>';
		font-size: 25px;
		line-height: 0;
		vertical-align: sub;
		margin-right: 5px;
	}
}

.card--ad {
	padding-left: 0;
	padding-right: 0;
}
.ad {
	display: block;
	margin: 0 auto;
}
