.card__related-items {
	@include displayFlex;
	flex: 1 1 auto;
	-ms-flex-preferred-size: auto;
	flex-wrap: wrap;
	margin: 5px 0 0 -10px;
	padding: 0;
	list-style-type: none;

	&[data-show~="false"] {
		display: none;
	}

	@each $layout-name in $_o-grid-layout-names {
		@include oGridRespondTo($layout-name) {
			&[data-show~="#{$layout-name}--true"] {
				display: block;
			}

			&[data-show~="#{$layout-name}--false"] {
				display: none;
			}
		}
	}
}

.card__related-item {
	position: relative;
	font-family: $o-typography-serif-display;
	border-left: 10px solid getColor('pink');
	font-size: 16px;
	line-height: 18px;
	margin-top: 5px;
	padding: 0 0 0 15px;

	.card__related-items--large & {
		margin-top: 10px;
		margin-bottom: 5px;
		padding: 10px 15px;
		background-color: getColor('pink-tint1');
		font-size: 20px;
		line-height: 22px;

		@include oGridRespondTo(S) {
			font-size: 22px;
			line-height: 24px;
		}

		@include oGridRespondTo(M) {
			font-size: 24px;
			line-height: 26px;
		}
	}
}

.card__related-item__link {
	border-bottom-width: 0;
	color: inherit;

	&:hover {
		border-bottom: 1px dotted;
	}
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		content: '>';
		font-size: 25px;

		.card__related-items--large & {
			display: none;
		}
	}
}
