.section-meta {
	padding-top: oGridGutter();
	@include oGridRespondTo(M) {
		padding-top: oGridGutter(M);
	}
}

.section-meta__date,
.section-meta__title {
	@include nTypeBravo(3);

	&:nth-child(n+2) {
		margin-top: 10px;
	}
}
