.section-meta {
	padding-top: oGridGutter();
	@include oGridRespondTo(M) {
		padding-top: oGridGutter(M);
	}
	position: relative;
	overflow: hidden;
}

.section-meta__date{
	@include nTypeBravo(3);

	&:nth-child(n+2) {
		margin-top: 10px;
	}
}

.section-meta__title {
	@include oTypographySerifDisplayBold(s);
	display: inline;
	margin: 0 10px 0 0;
	padding: 10px 0 0;
	color: getColor('cold-3');
	&--sans-serif {
		@include oTypographySansDataBold(l);
		font-size: 20px;
	}
	&:after {
		content: "";
		position: absolute;
		margin-left: 10px;
		height: 1px;
		border-bottom: 1px solid getColor('warm-3');
		top: 24px;
		width: 100%;
	}
}
