@import 'n-card/main';

@import "content/content";
@import "meta/meta";
@import "../ad/ad";
@import "../column/column";
@import "../fast-ft/fast-ft";
@import "../myft-promo/myft-promo";
@import "../card";

.section--video {
	.core & {
		display: none;
	}
}

.section__column {
	align-items: stretch;

	&[aria-hidden="true"] {
		display: none;

		@include oGridRespondTo(L) {
			display: block;
		}
	}
}

.section__column--sidebar {
	flex-direction: column;
}

.section__column--hide-until-l {
	@include oGridRespondTo($until: L) {
		display: none;
	}
}
