@import "o-forms/main";
@import "meta/meta";
@import "sources/sources";
@import "../ad/ad";
@import "../card/card";
@import "../myft-promo/myft-promo";
@import "../fast-ft/fast-ft";
@import "../column/column";


.section--video {
	.core & {
		display: none;
	}
}

.section__column {
	align-items: stretch;

	&[aria-hidden="true"] {
		display: none;

		@include oGridRespondTo(L) {
			display: block;
		}
	}

	& > * {
		width: 100%;
		padding-bottom: oGridGutter();

		@include oGridRespondTo(M) {
			padding-bottom: oGridGutter(M);
		}
	}
}

.section__column--sidebar {
	flex-direction: column;
}
