{{#if @root.flags.frontPageLayoutPrototype}}
	<div id="layout-overlay-container"></div>
	{{> header-tabs newsTabTitle="Top Stories"}}
	<section id="main-body" class="o-grid-container">
		<div class="o-grid-row">
			{{{ reactRenderToString Layout content=content layout=initialLayout }}}
		</div>
	</section>
{{else}}
	{{#defineBlock 'head'}}
		<meta name="dfp_site" content="home" />
		<meta name="dfp_zone" content="{{region}}" />
	{{/defineBlock}}

	{{> header-tabs  newsTabTitle="News"}}
	<div class="o-grid-container fixed-width-container">
		<div class="o-grid-row">
			<div class="main-content nh-header-tabs__panel" data-o-grid-colspan="12 L8 XL9">
				<h1 class="n-util-visually-hidden" id="lead-pod-title">Top stories</h1>
				{{> lead-today leads=content.top.leads liveBlogs=content.top.liveBlogs items=content.top.items popularTopics=content.popularTopics }}
			</div>
			<aside class="sidebar sidebar--fastft nh-header-tabs__panel" data-trackable="fastft" data-o-grid-colspan="12 L4 XL3" role="presentation">
				<section id="fastft" data-fastft-articles="{{json content.fastFT.items}}">{{{ reactRenderToString FastFtFeed items=content.fastFT.items }}}</section>
				{{#if @root.flags.frontPageHalfPageAd}}
					<div class="sidebar__ad-container"></div>
				{{/if}}
			</aside>
		</div>
	</div>
	{{#if content.editorsPicks.items}}
		<div class="bordered-row nh-header-tabs__panel">
			<div class="o-grid-container">
				<div class="o-grid-row">
					<div class="main-content" data-o-grid-colspan="12">
						<div class="flexipod flexipod--editors o-grid-container o-grid-container--compact" data-trackable="editors-picks" id="editors-picks">
							<h1 class='carousel-heading' id="editors-picks-title" aria-hidden="true">{{content.editorsPicks.title}}</h1>
							{{> editors items=content.editorsPicks.items id="editors-picks"}}
						</div>
					</div>
				</div>
			</div>
		</div>
	{{/if}}

<!--

 FFFFFFFFFFFFFFFFFFFFFFTTTTTTTTTTTTTTTTTTTTTTT
 F::::::::::::::::::::FT:::::::::::::::::::::T
 F::::::::::::::::::::FT:::::::::::::::::::::T
 FF::::::FFFFFFFFF::::FT:::::TT:::::::TT:::::T
   F:::::F       FFFFFFTTTTTT  T:::::T  TTTTTT
   F:::::F                     T:::::T
   F::::::FFFFFFFFFF           T:::::T
   F:::::::::::::::F           T:::::T
   F:::::::::::::::F           T:::::T
   F::::::FFFFFFFFFF           T:::::T
   F:::::F                     T:::::T
   F:::::F                     T:::::T
 FF:::::::FF                 TT:::::::TT
 F::::::::FF                 T:::::::::T
 F::::::::FF                 T:::::::::T
 FFFFFFFFFFF                 TTTTTTTTTTT

Graduate? Hello! You've been inquisitive enough to find a link to our
graduate scheme application.

Here's the form ... http://goo.gl/forms/JWW62YdD6Z

Here's the promo code ... IFOUNDIT!

Good luck!

-->

	<div class="o-grid-container nh-header-tabs__panel">
		<div class="o-grid-row">
			<div class="main-content" data-o-grid-colspan="12 L9">
				{{> opinion items=content.opinion.items url=content.opinion.url title="Opinion" id="opinion" }}
				{{> topic items=content.lifestyle.items url=content.lifestyle.url title="Life & Arts" id="life-arts" }}
				{{> topic items=content.markets.items url=content.markets.url title="Markets" id="markets" }}
				{{> topic items=content.technology.items url=content.technology.url title="Technology" id="technology" }}
			</div>
			<aside class="sidebar sidebar--feed" role="presentation" data-o-grid-colspan="12 L3">
				<section class="feed feed--popular" data-trackable="popular">
					<div>
						<div class="pod-heading pod-heading--feed">
							<h1 id="popular-title" aria-hidden="true">Popular</h1>
						</div>
						{{{ reactRenderToString Feed items=content.popular.items labelId="popular-title" }}}
					</div>
				</section>
			</aside>
		</div>
	</div>
	{{#ifAll flags.frontPageVideo content.videos}}
		<div class="bordered-row nh-header-tabs__panel video-hub">
			<div class="o-grid-container">
				<div class="o-grid-row">
					<div class="main-content" data-o-grid-colspan="12">
						<div class="flexipod flexipod--video" data-trackable="video-picks" id="video-picks">
							<h1 class='carousel-heading' id="editors-picks-title" aria-hidden="true">Video</h1>
							<p class="video-hub--subtitle">Over 80 videos per week bring the news agenda to life</p>
							{{> videos items=content.videos }}
						</div>
					</div>
				</div>
			</div>
		</div>
	{{/ifAll}}
{{/if}}
