{{#defineBlock 'head'}}
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="{{#hashedAsset}}ie8.css{{/hashedAsset}}" />
	<![endif]-->
	<meta name="dfp_site" content="home" />
	<meta name="dfp_zone" content="{{region}}" />
{{/defineBlock}}

{{#defineBlock 'above-header'}}
	{{> ads/entry }}
{{/defineBlock}}

{{#if flags.frontPageFastFTJourney}}
	{{> page-menu}}
{{else}}
	{{> header-tabs}}
{{/if}}

<section
	id="site-content"
	class="main-body o-grid-container n-util-clearfix">

	<h1 class="n-util-visually-hidden">Financial Times Home</h1>
	<!--!

	 FFFFFFFFFFFFFFFFFFFFFFTTTTTTTTTTTTTTTTTTTTTTT
	 F::::::::::::::::::::FT:::::::::::::::::::::T
	 F::::::::::::::::::::FT:::::::::::::::::::::T
	 FF::::::FFFFFFFFF::::FT:::::TT:::::::TT:::::T
	   F:::::F       FFFFFFTTTTTT  T:::::T  TTTTTT
	   F:::::F                     T:::::T
	   F::::::FFFFFFFFFF           T:::::T
	   F:::::::::::::::F           T:::::T
	   F:::::::::::::::F           T:::::T
	   F::::::FFFFFFFFFF           T:::::T
	   F:::::F                     T:::::T
	   F:::::F                     T:::::T
	 FF:::::::FF                 TT:::::::TT
	 F::::::::FF                 T:::::::::T
	 F::::::::FF                 T:::::::::T
	 FFFFFFFFFFF                 TTTTTTTTTTT

	Graduate? Hello! You've been inquisitive enough to find a link to our
	graduate scheme application.

	Here's the form ... http://goo.gl/forms/JWW62YdD6Z

	Here's the promo code ... IFOUNDIT!

	Good luck!

	-->

	<div role="main" class="o-grid-row">
	{{#each sections}}
		<div
			id="{{id}}"
			{{#if trackScrollEvent}} class="js-track-scroll-event"{{/if}}
			data-o-grid-colspan="{{colspan size}}">{{#unless isClient}}{{{reactRenderToString ../Section spread=@this}}}{{/unless}}</div>
	{{/each}}
	</div>
</section>

<div class="ad-placeholder ad-placeholder--exit"></div>
