.carousel-card {
	text-align: left;
	margin-bottom: 20px;
	min-width: 0 !important;

	@include oGridRespondTo(S) {
		text-align: center;
	}
	.story-card__title {
		font-size: 0.9em;
	}
	.story-card__taxon {
		margin-bottom: 5px;
	}
}

.carousel-card__image-link {
	@include oGridColspan((default: 4, XS: 12));
	border-bottom: 0;
}

.carousel-card__image {
	width: 100%;
	margin-bottom: 10px;

	img {
		width: 100%;
	}
}

.carousel-card--link {
	@include linkHover;
}

.carousel-card__content {
	@include oGridColspan((default: 8, XS: 12));
}
