$upColour: #9cd321;
$downColour: #ee2f01;

.markets-data-wrapper {
	background: url('/assets/backgrounds/header-markets-data.png') getColor('black');
	min-height: 39px;
}
.markets-data {
	padding-top: 10px;
	padding-bottom: 10px;
	color: oColorsGetColorFor(page, background);
}
.markets-data__items {
	float: left;
	min-height: 1px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.markets-data__link,
.markets-data__item__link {
	color: inherit;
	border-bottom: 0;

	&:hover,
	&:focus {
		color: inherit;
	}
}
.markets-data__item {
	display: none;
	float: left;
	opacity: 1;
	transition: 1s opacity;

	.markets-data__items--hidden & {
		opacity: 0;
	}
}
.markets-data__item__link {
	display: block;
}
.markets-data__item__name,
.markets-data__item__change {
	@include oTypographySans(s);
	float: left;
	margin: 0;
}
.markets-data__item__name {
	margin-right: 5px;

	.markets-data__item__link:hover &,
	.markets-data__item__link:focus & {
		text-decoration: underline;
	}
}
.markets-data__item__change {
	border: 1px solid oColorsGetColorFor(page, background);
	border-radius: 3px;
	margin-top: -2px;
	padding: 1px 5px;
}
.markets-data__item__change--up {
	color: $upColour;
	border-color: $upColour;

	.markets-data__item__link:hover &,
	.markets-data__item__link:focus & {
		background-color: rgba($upColour, 0.4);
	}
}
.markets-data__item__change--down {
	color: $downColour;
	border-color: $downColour;

	.markets-data__item__link:hover &,
	.markets-data__item__link:focus & {
		background-color: rgba($downColour, 0.4);
	}
}
.markets-data__link {
	@include oTypographySans(s);
	float: right;
	text-align: right;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}
.markets-data-disclaimer {
	@include oTypographySansSize(s);
	color: oColorsGetColorFor(page, background);
	margin: 10px 0;
}

// set up the markets data columns
$breakpoints: default S M L XL XXL;
@for $index from 1 through length($breakpoints) {
	$breakpoint: nth($breakpoints, $index);
	$indexPlusOne: $index + 1;

	.markets-data__items {
		@if $breakpoint == default {
			width: percentage($index / $indexPlusOne);
		} @else {
			@include oGridRespondTo($breakpoint) {
				width: percentage($index / $indexPlusOne);
			}
		}
	}
	.markets-data__item {
		@if $breakpoint == default {
			width: percentage(1 / $index);

			&:nth-child(#{$index}) {
				display: block;
			}
		} @else {
			@include oGridRespondTo($breakpoint) {
				width: percentage(1 / $index);

				&:nth-child(#{$index}) {
					display: block;
				}
			}
		}
	}
	.markets-data__link {
		@if $breakpoint == default {
			width: percentage(1 / $indexPlusOne);
		} @else {
			@include oGridRespondTo($breakpoint) {
				width: percentage(1 / $indexPlusOne);
			}
		}
	}
}
