.myft-promo {
	align-self: center;
	padding: 20px;
	text-align: center;
}

.myft-promo__image {
	max-width: 100%;
}

.myft-promo__description {
	@include oTypographySansBold(m);
	color: getColor('cold-1');
	margin: 10px 35px 15px;
}

.myft-promo__link-wrapper {
	margin: 0;
}

.myft-promo__link {
	@include oTypographySansBold(m);
	border-bottom-style: solid;
	display: inline-block;
	margin: 0;
	position: relative;

	&:after {
		@include nextIcon('arrow-right', getColorFor('link', text), 10);
		content: '';
		margin-top: -5px;
		position: absolute;
		right: -15px;
		top: 50%;
	}
}

.card--myft-promo {
	justify-content: center;
}
