@each $layout-name in $_o-grid-layout-names {
	.card__image-link {
		.card[data-image-show~="#{$layout-name}--true"] & {
			display: flex;
		}

		.card[data-image-show~="#{$layout-name}--false"] & {
			display: none;
		}

		.card[data-image-position~="#{$layout-name}--bottom"] & {
			position: absolute;
			top: auto;
			bottom: 0;
			width: auto;
			margin: 0;
		}

		.card[data-image-position~="#{$layout-name}--top"] & {
			position: absolute;
			top: 0;
			bottom: auto;
			width: auto;
			margin: 0;
		}

		.card[data-image-position~="#{$layout-name}--left"] & {
			position: static;
			float: left;
			width: 100px;
			margin: 0 10px 5px 0;
		}

		.card[data-image-position~="#{$layout-name}--right"] & {
			position: static;
			float: right;
			width: 50%;
			margin: 0 0 0 10px;
		}
	}
}
