// Ad breakpoint where leaderboards start working
$ad-medium-breakpoint: 760px;

.above-header-advert {
	@media (min-width:$ad-medium-breakpoint) {
		min-height: 90px;
		height: 90px;
		display: block;
		padding: 10px 0;
		line-height: 0;
		white-space: pre;
		text-align: center;
	}
}

.mid-page-1-advert,
.mid-page-2-advert {
	display: block;
	height: 90px;
	min-height: 90px;
	padding: 10px 0 0;
	[data-ads-layout="default"] & {
		display: none;
		padding: 0;
	}
}

.mid-page-1-advert {
	@media (min-width:$ad-medium-breakpoint) {
		display: none;
	}
}

.advert[data-o-ads-loaded="Responsive"] {
	height: auto;
	padding: 0;
	min-height: calc(100vw * 0.1734); //aspect ratio of responsive creatives
	@media (max-width: 489px) {
		min-height: calc(100vw * 0.481);
	}
}

.advert[data-o-ads-loaded="MediumRectangle"],
.advert[data-o-ads-loaded="Billboard"] {
	height: 250px;
}

.advert--full-bleed {
	width: 100vw;
	margin-left: -10px;
	@include oGridRespondTo(S) {
		margin-left: -30px;
	}
}

.advert--background {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAALElEQVQIW2M8d2znf2kJMQZkwPjy3vn/T1+8YkCWAAuCVCFLwAWRJVAEYRIAHZ8dptpqH2wAAAAASUVORK5CYII=) repeat;
}

.advert--transition {
	will-change: min-height, padding, height;
	transform: translate3d(0, 0, 0);
	transition: height 0.35s ease-in-out, min-height 0.35s ease-in-out, padding 0.35s ease-in-out;
}
