.card__standfirst {
	font-family: $n-type-sans-serif;
	font-weight: oFontsWeight(light);
	margin-top: 5px;
}
.card__standfirst--large {
	font-size: 22px;
	line-height: 24px;
}
.card__standfirst--medium {
	font-size: 18px;
	line-height: 20px;
}

.card__standfirst[data-standfirst-show~="false"] {
	display: none;
}

@each $layout-name in $_o-grid-layout-names {
	.card__standfirst[data-standfirst-show~="#{$layout-name}--true"] {
		display: inherit;
	}
	.card__standfirst[data-standfirst-show~="#{$layout-name}--false"] {
		display: none;
	}
	@include oGridRespondTo($layout-name) {
		.card__standfirst[data-standfirst-show~="#{$layout-name}--true"] {
			display: inherit;
		}

		.card__standfirst[data-standfirst-show~="#{$layout-name}--false"] {
			display: none;
		}
	}
}

@each $layout-name in $_o-grid-layout-names {
	.card__standfirst--#{$layout-name}--large {
		font-size: 22px;
		line-height: 24px;
	}
	.card__standfirst--#{$layout-name}--medium {
		font-size: 18px;
		line-height: 20px;
	}
	@include oGridRespondTo($layout-name) {
		.card__standfirst--#{$layout-name}--large {
			font-size: 22px;
			line-height: 24px;
		}
		.card__standfirst--#{$layout-name}--medium {
			font-size: 18px;
			line-height: 20px;
		}
	}
}
