.card__standfirst {
	font-family: $n-type-sans-serif;
	font-weight: oFontsWeight(light);
	margin: 5px 0 0;
}

.card__standfirst[data-size~="medium"] {
	font-size: 18px;
	line-height: 20px;
}

.card__standfirst[data-size~="large"] {
	font-size: 22px;
	line-height: 24px;
}

.card__standfirst[data-show~="false"] {
	display: none;
}

@each $layout-name in $_o-grid-layout-names {
	@include oGridRespondTo($layout-name) {
		.card__standfirst[data-show~="#{$layout-name}--false"] {
			display: none;
		}

		.card__standfirst[data-show~="#{$layout-name}--true"] {
			display: inherit;
		}
	}
}

@each $layout-name in $_o-grid-layout-names {
	@include oGridRespondTo($layout-name) {
		.card__standfirst[data-size~="#{$layout-name}--medium"] {
			font-size: 18px;
			line-height: 20px;
		}

		.card__standfirst[data-size~="#{$layout-name}--large"] {
			font-size: 22px;
			line-height: 24px;
		}
	}
}
