.card__related-items {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.card__related-item {
	position: relative;
	font-family: $o-typography-sans;
	font-weight: oFontsWeight(light);
	font-size: 18px;
	line-height: 20px;
	margin-top: 10px;
	padding-left: 15px;
}

.card__related-item[data-show~="false"] {
	display: none;
}

@each $layout-name in $_o-grid-layout-names {
	@include oGridRespondTo($layout-name) {
		.card__related-item[data-show~="#{$layout-name}--true"] {
			display: block;
		}

		.card__related-item[data-show~="#{$layout-name}--false"] {
			display: none;
		}
	}
}

.card__related-item__link {
	border-bottom-width: 0;
	color: inherit;

	&:hover {
		border-bottom: 1px dotted;
	}
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		content: '>';
		font-size: 25px;
	}
}
