@import 'next-sass-setup/main';
@import './layout-switcher/main';
@import './section/main';
@import './card-editor/main';

$breakpoint: M;

.layout-overlay {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 30;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;

	@include oGridRespondTo($breakpoint) {
		top: 0;
		left: 0;
		bottom: 0;
		right: auto;
	}

	a {
		color: inherit;
	}

	a:hover,
	a:focus {
		color: white;
	}
}

.layout-overlay--expanded .layout-overlay__toggle {
	@include nextIcon(arrow-down, white, 25);

	@include oGridRespondTo($breakpoint) {
		@include nextIcon(arrow-left, white, 25);
	}
}

.layout-overlay--collapsed .layout-overlay__toggle {
	@include nextIcon(arrow-up, white, 25);

	@include oGridRespondTo($breakpoint) {
		@include nextIcon(arrow-right, white, 25);
	}
}

.layout-overlay--expanded .layout-overlay__toggle,
.layout-overlay--collapsed .layout-overlay__toggle {
	width: 100%;
	height: 30px;
	background-size: 25px 25px;
	background-position: center;

	@include oGridRespondTo($breakpoint) {
		float: right;
		width: 30px;
		height: 100%;
	}

	&:hover {
		background-color: rgba(#ffffff, 0.3);
	}

}

.layout-overlay__body {
	display: none;
	width: 100%;
	height: 400px;
	float: left;
	overflow-x: hidden;
	overflow-y: scroll;

	@include oGridRespondTo($breakpoint) {
		width: 300px;
		height: 100%;
	}
}

.layout-overlay--expanded .layout-overlay__body {
	display: inherit;
}

.layout-overlay__body h2 {
	@include nTypeAlpha(2);
	text-align: center;
	margin: 0.5em;
}

.layout-overlay__body > h3 {
	@include nTypeAlpha(3);
	text-align: center;
	margin: 0.5em;
}

.layout-overlay__sections {
	padding: 0;

	li {
		list-style: none;
	}
}
