.section-meta {
	margin-top: oGridGutter() * 2;
	position: relative;

	@include oGridRespondTo(M) {
		margin-top: oGridGutter(M) * 2;
	}

	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		height: 1px;
		width: 100%;
		background-color: oColorsGetColorFor('card', 'border');
	}
}

.section-meta__link--myft-logo {
	border-bottom: 0;
}

.section-meta__title {
	@include oTypographySerifDisplayBold(s);
	@include oColorsFor(page, background);
	line-height: 30px;
	display: inline-block;
	margin: 0;
	padding: 0;
	color: getColor('cold-3');
	padding-right: oGridGutter();
	position: relative;
	z-index: 1;

	@include oGridRespondTo(M) {
		padding-right: oGridGutter(M);
	}
}

.section-meta__myft-icon {
	@include nextIcon('myft-bolder', getColor('black'), 60);
	text-indent: -400px;
}
