.card__image {
	display: block;
	width: 100%;
}

.card__image-link {
	display: block;
	margin-top: 10px;
	border-bottom: 0;
}

.card__image-link:last-child {
	flex: 2;
	display: flex;
	align-items: flex-end;
}

.card__image-link[data-image-show~="false"] {
	display: none;
}

@each $layout-name in $_o-grid-layout-names {
	@include oGridRespondTo($layout-name) {
		.card__image-link[data-image-show~="#{$layout-name}--true"] {
			display: inherit;
		}

		.card__image-link[data-image-show~="#{$layout-name}--false"] {
			display: none;
		}
	}
}
