.card__image-link {
	@include displayFlex;

	flex: 1 1 auto;
	align-items: flex-start;
	margin-top: 10px;
	border-bottom: 0;

	[data-card-landscape~="true"] & {
		position: absolute;
		top: 10px;
		left: 10px;
		width: 100px;
		margin-top: 0;
	}

	[data-image-show~="false"] & {
		display: none;
	}

	@each $layout-name in $_o-grid-layout-names {
		@include oGridTargetIE8 {
			[data-image-show~="#{$layout-name}--true"] & {
				display: flex;
			}
			[data-image-show~="#{$layout-name}--false"] & {
				display: none;
			}
			[data-card-landscape~="#{$layout-name}--false"] & {
				position: static;
				top: 0;
				left: 0;
				width: auto;
				margin-top: 10px;
			}

			[data-card-landscape~="#{$layout-name}--true"] & {
				position: static;
			}
		}
		@include oGridRespondTo($layout-name) {
			[data-card-has-image~="true"][data-image-show~="#{$layout-name}--true"] & {
				@include displayFlex;
			}

			[data-image-show~="#{$layout-name}--false"] & {
				display: none;
			}

			[data-card-landscape~="#{$layout-name}--false"] & {
				position: static;
				top: 0;
				left: 0;
				width: auto;
				margin-top: 10px;
			}

			[data-card-landscape~="#{$layout-name}--true"] & {
				position: absolute;
				top: 10px;
				left: 10px;
				width: 100px;
				margin-top: 0;
			}
		}
	}
}

.card__image-link--stick,
.card__image-link--headshot {
	align-items: flex-end;

	[data-card-landscape~="true"] & {
		align-items: flex-start;
	}

	[data-card-landscape~="S--false"] & {
		@include oGridRespondTo(S) {
			align-items: flex-end;
		}
	}

	[data-card-landscape~="M--false"] & {
		@include oGridRespondTo(M) {
			align-items: flex-end;
		}
	}
}

@each $layout-name in $_o-grid-layout-names {
	@include oGridRespondTo($layout-name) {
		.card__image-link--stick {
			align-items: flex-end;
		}
		.card__image-link--no-stick {
			align-items: flex-start;
		}
	}
}

.card__image {
	display: block;
	width: 100%;
	flex: 0 0 auto;

	.card__image-link--headshot & {
		width: 60%;
		@include oGridRespondTo(M) {
			margin-left: auto;
		}
	}
}
