.card__image-link {
	display: flex;
	flex: 1;
	-ms-flex-preferred-size: auto;
	justify-content: flex-end;
	align-items: flex-start;
	margin-top: 10px;
	border-bottom: 0;

	[data-card-landscape~="true"] & {
		flex: none;
		margin-top: 0;
		margin-right: 10px;
		order: -1;
		width: 100px;
	}

	[data-card-landscape~="S--false"] & {
		@include oGridRespondTo(S) {
			flex: 1;
			margin-top: 10px;
			margin-right: 0;
			order: 0;
			width: auto;
		}
	}

	[data-card-landscape~="M--false"] & {
		@include oGridRespondTo(M) {
			flex: 1;
			margin-top: 10px;
			margin-right: 0;
			order: 0;
			width: auto;
		}
	}

	&[data-image-show~="false"] {
		display: none;
	}

	@each $layout-name in $_o-grid-layout-names {
		@media screen\0 {
			&[data-image-show~="#{$layout-name}--true"] {
				display: flex;
			}
			&[data-image-show~="#{$layout-name}--false"] {
				display: none;
			}
		}
		@include oGridRespondTo($layout-name) {
			&[data-image-show~="#{$layout-name}--true"] {
				display: flex;
			}

			&[data-image-show~="#{$layout-name}--false"] {
				display: none;
			}
		}
	}
}

.card__image-link--stick,
.card__image-link--headshot {
	align-items: flex-end;

	[data-card-landscape~="true"] & {
		align-items: flex-start;
	}

	[data-card-landscape~="S--false"] & {
		@include oGridRespondTo(S) {
			align-items: flex-end;
		}
	}

	[data-card-landscape~="M--false"] & {
		@include oGridRespondTo(M) {
			align-items: flex-end;
		}
	}
}

@each $layout-name in $_o-grid-layout-names {
	@include oGridRespondTo($layout-name) {
		.card__image-link--stick {
			align-items: flex-end;
		}
		.card__image-link--no-stick {
			align-items: flex-start;
		}
	}
}

.card__image {
	display: block;
	width: 100%;

	.card__image-link--headshot & {
		width: 60%;
	}
}
