.card__standfirst {
	font-family: $o-typography-sans;
	font-weight: oFontsWeight(light);
	font-size: 18px;
	line-height: 20px;
	margin: 5px 0 0;
	clear: left;

	.card[data-size^="large"] & {
		@include oGridRespondTo(L) {
			font-size: 22px;
			line-height: 24px;
		}
	}
}
