@import "../../../../client/vars";

.card__opinion-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 5px;
	overflow: hidden;
}

.card__opinion-header__image {
	position: relative;
	flex: 0 0 50px;
	float: right;
	height: 50px;
	width: 50px;
	margin-left: oGridGutter();
}

.card__opinion-header__image--headshot {
	@include oColorsFor(author, background);
	border-radius: 25px;
}

.card__opinion-header__quote {
	@include nextIcon(single-quote, oColorsGetColorFor(author, background), 30, $icon-only: true);
	position: absolute;
	top: 0;
	left: 0;
	background-size: 30px 39px;
	background-position-y: 50%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	opacity: 0.6;
}

.card__opinion-header__quote--left {
	background-position: 0 0;
}

.card__opinion-header__quote--right {
	background-position: 100% 0;
}

.card__opinion-header__title {
	flex: 1 1 auto;
	order: -1;
	font-family: $o-typography-serif-display;
	font-weight: oFontsWeight(regular);
	font-size: 20px;
	line-height: 1em;
	margin: 0;
}

.card__opinion-header__link {
	@include oColorsFor(author, text);
	border-bottom: 0;
}
