@import "../../../../client/vars";

$headshot-size: 60px;

.card__opinion-header__image {
	position: relative;
	float: right;
	height: $headshot-size;
	width: $headshot-size;
	margin: 0 0 0 oGridGutter();
}

.card__opinion-header__image--headshot {
	@include oColorsFor(author, background);
	border-radius: $headshot-size / 2;
}

.card__opinion-header__quote {
	@include nextIcon(single-quote, oColorsGetColorFor(author, text), 30, $icon-only: true);
	position: absolute;
	top: 0;
	left: 0;
	background-size: 30px 39px;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	opacity: 0.4;
}

.card__opinion-header__quote--left {
	background-position: 20% 50%;
}

.card__opinion-header__quote--right {
	background-position: 80% 50%;
}

.card__opinion-header__title {
	font-family: $o-typography-serif-display;
	font-weight: oFontsWeight(regular);
	font-size: 20px;
	line-height: 1em;
	margin: 0 0 5px;
}

.card__opinion-header__link {
	@include oColorsFor(author, text);
	border-bottom: 0;
}
