.card__opinion-header {
	&.card__opinion-header--large {
		overflow: hidden;
	}
}

.card__opinion-header__image {
	float: left;
	margin-right: 10px;
	margin-bottom: 5px;
}

.card__opinion-header__image--headshot {
	@include oColorsFor(author, background);
	border-radius: 30px;
	width: 60px;
}

.card__opinion-header__quote {
	background-image: url('https://next-geebee.ft.com/image/v1/images/raw/http%3A%2F%2Fdarrenhurley.co.uk%2Fhalf-speechmark.svg?source=next&format=svg&tint=DCE0E5,DCE0E5');
	background-size: contain;
	width: 22px;
	height: 28px;
	opacity: 0.6;
}

.card__opinion-header__quote--left {
	float: left;
}

.card__opinion-header__quote--right {
	margin-left: 15px;
}

.card__opinion-header__title {
	font-family: $o-typography-serif-display;
	font-weight: oFontsWeight(regular);
	font-size: 16px;
	line-height: 1em;
	margin: 0 0 5px;
	padding-bottom: 5px;
	border-bottom: 6px solid oColorsGetColorFor(author, border);
	min-height: 28px;

	.card__opinion-header--with-headshot & {
		min-height: 0;
		margin-left: 70px;
		padding-bottom: 2px;
	}

	.card__opinion-header--small & {
		min-height: 21px;
		font-size: 20px;
		padding-top: 7px;
	}

	.card__opinion-header--medium & {
		min-height: 24px;
		font-size: 24px;
		padding-top: 4px;
	}

	.card__opinion-header--with-headshot.card__opinion-header--small &,
	.card__opinion-header--with-headshot.card__opinion-header--medium & {
		padding-top: 0;
	}

	.card__opinion-header--large & {
		min-height: 28px;
		font-size: 36px;
	}

	.card__opinion-header--with-headshot.card__opinion-header--large & {
		min-height: 42px;
		margin-left: 0;
		padding-top: 18px;
	}

}

.card__opinion-header__link {
	@include oColorsFor(author, text);
	border-bottom: 0;
}
