@import 'next-sass-setup/main';

.card__tag {
	font-family: $o-typography-sans;
	font-weight: oFontsWeight(bold);
	font-size: 16px;
	line-height: 1em;
	color: getColor('claret');
}

.card__tag--small {
	display: inline;
}

.card__tag--authors {
	color: getColor(claret);
}

.card__tag__link {
	display: inline-block;
	border-bottom: 0;

	.card__tag--authors & {
		&:before {
			@include nextIcon(pullquote, getColor('claret'), 16);
			content: '';
			vertical-align: bottom;
			margin-right: 5px;
		}
		&:hover:before {
			@include nextIcon(pullquote, getColor('cold-1'), 16);
		}
	}
}

@each $layout-name in $_o-grid-layout-names {
	@include oGridRespondTo($layout-name) {
		.card__tag--#{$layout-name}--large {
			display: block;
			font-size: 16px;
			line-height: 16px;
		}
		.card__tag--#{$layout-name}--medium {
			display: block;
			font-size: 16px;
			line-height: 16px;
		}
		.card__tag--#{$layout-name}--small {
			display: inline;
			font-size: 16px;
			line-height: 16px;
		}
	}
}
