@import 'next-sass-setup/main';

.card__tag {
	font-family: $o-typography-sans;
	font-weight: oFontsWeight(semibold);
	font-size: 16px;
	line-height: 1em;
	color: getColor('claret');
	margin: 5px 0 0;

	&:first-child {
		margin-top: 0;
	}
	&:first-child:after {
		display: none;
		content: '';
		width: 1px;
		height: 10px;
		margin: 0 5px 0 -6px;
		background-color: getColor('cold-2');
	}

}

.card__tag--authors {
	color: getColor(claret);
}

.card__tag__link {
	color: inherit;
	border-bottom: 0;


	.card__tag--authors & {
		@include nextIcon(pullquote, getColor('claret'), 16, $icon-only: true);
		background-repeat: no-repeat;
		background-position: 0 50%;
		background-size: 16px 12px;
		padding-left: 21px;

		&:hover {
			@include nextIcon(pullquote, getColor('cold-1'), 16, $icon-only: true);
		}
	}
}


.card[data-size="tiny"] .card__tag {
	display: inline;
	&:first-child {
		&:after {
			display: inline-block;
		}
		.card__tag__link {
			padding-right: 11px;
		}
	}
}

