@import 'next-sass-setup/main';

.card__tag {
	font-family: $n-type-sans-serif;
	font-weight: oFontsWeight(light);
	color: getColor(claret);
	border-bottom: 0;
}

.card__tag--large {
	font-size: 16px;
	line-height: 16px;
}
.card__tag--medium {
	font-size: 14px;
	line-height: 14px;
}
.card__tag--small {
	float: left;
	font-size: 12px;
	line-height: 14px;
}

.card__tag--authors {
	color: getColor(claret);

	&:before {
		@include nTypeDelta(1);
		font-size: 60px;
		color: #c3bdb6;
		content: '“';
		display: inline-block;
		line-height: 0;
		vertical-align: bottom;
		margin: 0 10px -8px -5px;
	}
}

@each $layout-name in $_o-grid-layout-names {
	@include oGridRespondTo($layout-name) {
		.card__tag--#{$layout-name}--large {
			font-size: 16px;
			line-height: 16px;
		}
		.card__tag--#{$layout-name}--medium {
			font-size: 14px;
			line-height: 14px;
		}
		.card__tag--#{$layout-name}--small {
			float: left;
			font-size: 12px;
			line-height: 14px;
		}
	}
}
