@import "../../../../client/vars";

.card__title {
	font-family: $o-typography-serif-display;
	font-weight: oFontsWeight(regular);
	margin: 0;

	.card__tag ~ & {
		margin-top: 5px;
	}

	.section--editors-picks & {
		font-family: $o-typography-sans;
	}

	.card--video & {
		@include oTypographySans(m);
		margin: 0 10px 10px;
	}

	.card[data-image-position~="left"] & {
		margin-left: 40%;
		padding-left: 10px;
	}

	@each $layout-name in $_o-grid-layout-names {
		@include oGridRespondTo($layout-name) {
			.card[data-image-position~="#{$layout-name}--top"] &,
			.card[data-image-position~="#{$layout-name}--bottom"] &,
			.card[data-image-position~="#{$layout-name}--right"] & {
				margin-left: 0;
				padding-left: 0;
			}
			.card[data-image-position~="#{$layout-name}--left"] & {
				margin-left: 40%;
				padding-left: 10px;
			}
		}
	}
}

@each $size, $breakpoints in $card-title-sizes {
	.card[data-size="#{$size}"] .card__title {
		@each $breakpoint, $text-sizes in $breakpoints {
			@include respondTo($breakpoint) {
				font-size: to-px(nth($text-sizes, 1));
				line-height: to-px(nth($text-sizes, 2));
			}
		}
	}
}

.card__title-link {
	color: inherit;
	border-bottom: 0;

	&:hover {
		border-bottom: 1px dotted;
	}
}
