.card__title {
	font-family: $o-typography-serif-display;
	font-weight: oFontsWeight(regular);
	margin: 0;

	.card__tag ~ & {
		margin-top: 5px;
	}

	.section--editors-picks & {
		font-family: $o-typography-sans;
	}

	.card--video & {
		@include oTypographySans(m);
		margin: 0 10px 10px;
	}

	.card[data-size="tiny"] & {
		display: inline;
	}
}

// font-size/line-height pairs
$text-sizes: (
	tiny: (
		default: 18 20,
		S: 16 16,
		M: 16 18
	),
	small: (
		default: 20 22,
		M: 18 20,
		L: 20 22,
	),
	medium: (
		default: 22 24,
		S: 24 26,
		M: 22 24,
		L: 23 24,
		XL: 25 27
	),
	large: (
		default: 22 24,
		S: 24 26,
		M: 22 24,
		L: 36 38
	),
	large-top-story: (
		default: 26 28,
		S: 28 30,
		M: 30 32,
		L: 36 38
	),
	large-no-image: (
		default: 40 38,
		S: 38 40,
		M: 40 42,
		L: 44 46
	)

);

@each $size, $breakpoints in $text-sizes {
	.card[data-size="#{$size}"] .card__title {
		@each $breakpoint, $text-sizes in $breakpoints {
			@if ($breakpoint == 'default') {
				font-size: nth($text-sizes, 1)  + 0px;
				line-height: nth($text-sizes, 2) + 0px;
			} @else {
				@include oGridRespondTo($breakpoint) {
					font-size: nth($text-sizes, 1)  + 0px;
					line-height: nth($text-sizes, 2) + 0px;
				}
			}
		}
	}
}

.card__title-link {
	color: inherit;
	border-bottom: 0;

	&:hover {
		border-bottom: 1px dotted;
	}
}
