@import "../../../../client/vars";

.card__title {
	font-family: $o-typography-serif-display;
	font-weight: oFontsWeight(regular);
	margin: 0;

	.card__tag ~ & {
		margin-top: 5px;
	}

	.section--editors-picks & {
		font-family: $o-typography-sans;
	}

	.card--video & {
		@include oTypographySans(m);
		margin: 0 10px 10px;
	}

	.card[data-size="tiny"] & {
		display: inline;
	}

	.card__opinion-header ~ & {
		clear: left;
	}
}

@each $size, $breakpoints in $card-title-sizes {
	.card[data-size="#{$size}"] .card__title {
		@each $breakpoint, $text-sizes in $breakpoints {
			@if ($breakpoint == 'default') {
				font-size: nth($text-sizes, 1) + 0px;
				line-height: nth($text-sizes, 2) + 0px;
			} @else {
				@include oGridRespondTo($breakpoint) {
					font-size: nth($text-sizes, 1) + 0px;
					line-height: nth($text-sizes, 2) + 0px;
				}
			}
		}
	}
}

.card__title-link {
	color: inherit;
	border-bottom: 0;

	&:hover {
		border-bottom: 1px dotted;
	}
}
