.card__title {
	@each $layout-name in $_o-grid-layout-names {
		@include oGridTargetIE8 {

			.card[data-image-position~="#{$layout-name}--bottom"] & {
				min-height: 0;
				margin-left: 0px;
			}

			.card[data-image-position~="#{$layout-name}--left"] & {
				min-height: 56px;
				margin-left: 110px;
			}

			.card[data-size="tiny"][data-image-position~="#{$layout-name}--left"] & {
				min-height: 0;
				margin-left: 0;
			}
		}
	}
}
