@import "./section-meta/main";
@import "o-forms/main";

.full-cell {
	position: absolute;
	height: 100%;
	right: 0;
	left: oGridGutter();

	@include oGridRespondTo(M) {
		left: oGridGutter(M);
	}
}

.section--video {
	.no-js & {
		display: none;
	}
}

.section-nav {
	padding-bottom: 0 !important;
}

.section__column {
	align-items: stretch;

	& > * {
		width: 100%;
		padding-bottom: oGridGutter();

		@include oGridRespondTo(M) {
			padding-bottom: oGridGutter(M);
		}
	}
}

.section__column--meta {
	// TODO: better way of defining this
	.section--top-stories & {
		@include oGridRespondTo($until: L) {
			display: none;
		}
	}
}

.section__column--content {
	margin-top: oGridGutter();

	.card:not(:first-child) {
		margin-top: oGridGutter();
	}

	@include oGridRespondTo(M) {
		margin-top: oGridGutter(M);

		.card:not(:first-child) {
			margin-top: oGridGutter(M);
		}

		.condensed-list {
			.card:not(:first-child) {
				margin-top: 0;
			}
		}
	}
}

.condensed-list {
	.card {
		border-bottom: 0;
		justify-content: center;
	}

	.card:not(:first-child) {
		margin-top: 0;
	}

	.column:not(:last-child) .card,
	.card:not(:last-child) {
		position: relative;

		&:after {
			content: "";
			position: absolute;
			left: 5%;
			bottom: 0;
			width: 90%;
			border-bottom: 1px solid getColor('warm-3');
			@include oGridRespondTo($until: M) {
				opacity: 0.5;
			}
		}
	}

	@include oGridRespondTo($until: XL) {
		margin-top: oGridGutter();
	}

	@include oGridRespondTo($from: M, $until: XL) {

		margin-top: oGridGutter(M);

		.column:not(:last-child) .card,
		.card:not(:last-child) {
			&:after {
				left: auto;
				width: auto;
				border-bottom: 0;
				top: 10%;
				right: 0;
				height: 80%;
				border-right: 1px solid getColor('warm-3');
			}
		}
	}
}



.section__column,
// for current front page
.main-content,
.sidebar--fastft,
.header-tabs-panel {
	&[aria-hidden="true"] {
		display: none;

		@include oGridRespondTo(L) {
			display: block;
		}
	}
}

.section__column--sidebar {
	flex-direction: column;
}

.section-sources__label {
	font-family: $o-typography-sans;
	font-weight: oFontsWeight(light);
	padding-right: 8px;
}

.section-sources__select {
	@include oFormsCommonField();
	@include oFormsSelect();
	width: auto;
}

//The ad gets too wide at this width, so change the column widths
@media screen and (min-width: 1275px) {
	.most-popular__column-with-ad,
	.most-popular__column-after-ad {
		@include oGridColspan(3);
	}
}
