@import "./section-meta/main";

.full-cell {
	position: absolute;
	height: 100%;
	right: 0;
	left: oGridGutter();

	@include oGridRespondTo(M) {
		left: oGridGutter(M);
	}
}

.section {
	@include oGridRespondTo(M) {
		margin-top: oGridGutter(M);
	}
}
.section__meta--mobile {
	@include oGridRespondTo(XL) {
		display: none;
	}
}
.column {
	display: flex;
	flex-flow: column wrap;
}
