@import "./section-meta/main";
@import "../card/main";

.full-cell {
	position: absolute;
	height: 100%;
	right: 0;
	left: oGridGutter();

	@include oGridRespondTo(M) {
		left: oGridGutter(M);
	}
}

.section--technology,
.section--markets,
.section--lifestyle {
	max-width: 100%;

	@include oGridRespondTo(M) {
		min-width: 0;

		.o-grid-container {
			min-width: 0;
		}
	}
}

.section--video {
	.no-js & {
		display: none;
	}
}

.section-nav {
	padding-bottom: 0 !important;
}

.section__column {
	@include displayFlex;
	align-items: stretch;


	&[data-o-grid-colspan="hide L2"] {
		@include oGridRespondTo($until: L) {
			display: none;
		}
	}

	& > * {
		width: 100%;
		padding-bottom: oGridGutter();

		@include oGridRespondTo(M) {
			padding-bottom: oGridGutter(M);
		}
	}
}
.section__column--meta {
	// TODO: better way of defining this
	.section--top-stories & {
		@include oGridRespondTo($until: L) {
			display: none;
		}
	}
}

.section__column,
// for current front page
.main-content,
.sidebar--fastft,
.header-tabs-panel {
	&[aria-hidden="true"] {
		display: none;

		@include oGridRespondTo(L) {
			display: block;
		}
	}
}

.section__column--sidebar {
	flex-direction: column;
}

.sidebar__ad-container {
	display: none;
	flex: 1 1 auto;
	margin-top: oGridGutter(M);

	@include oGridRespondTo(L) {
		display: block;
	}
}

.column {
	@include displayFlex;
	flex-flow: column;

	&[data-o-grid-colspan~="hide"] {
		@include oGridRespondTo($until: S) {
			display: none;
		}
	 }

	&[data-o-grid-colspan~="Shide"] {
		@include oGridRespondTo(S, $until: M) {
			display: none;
		}
	}

	&[data-o-grid-colspan~="Mhide"] {
		@include oGridRespondTo(M, $until: L) {
			display: none;
		}
	}

	&[data-o-grid-colspan~="Lhide"] {
		@include oGridRespondTo(L, $until: XL) {
			display: none;
		}
	}

	&[data-o-grid-colspan~="XLhide"] {
		@include oGridRespondTo(XL) {
			display: none;
		}
	}
}
