@mixin liveBlogStateColor($color) {

	.liveblog__badge {
		background-color: oColorsGetPaletteColor($color);
	}

	.card__footer {
		border-color: oColorsGetPaletteColor($color);
	}

	.liveblog__live-indicator {
		background-color: oColorsGetPaletteColor($color);

		.glow {
			background-color: oColorsGetPaletteColor($color);
		}
	}
}

.card--liveblog {
	.card__tag {
		display: inline-block;
	}

	.card__footer {
		@include oTypographySans(xs);
		@include oColorsFor(timestamp, text);
		text-transform: uppercase;
		margin-top: 10px;
	}

	&.liveblog--comingsoon {
		@include liveBlogStateColor('liveblog-amber');
	}

	&.liveblog--inprogress {
		@include liveBlogStateColor('red');
	}

	&.liveblog--closed {
		@include liveBlogStateColor('grey-tint4');
	}

	&.liveblog--inprogress {
		.liveblog__live-indicator .glow {
			animation: pulse 1.7s ease infinite;
		}
	}
}

.card--picture-story {
	@include oColorsFor(card-picture-story, background);
}

.liveblog__badge {
	@include oTypographySansBold(s);
	float: left;
	line-height: 21px;
	display: inline-block;
	text-transform: uppercase;
	border-bottom: none;
	padding: 0 5px;
	margin-right: 5px;
	color: white;
	&:hover {
	 color: getColorFor(fast-ft, background);
	}
}

.liveblog__live-indicator {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	margin: 0 10px 0 4px;

	.glow {
		display: block;
		width: 8px;
		height: 8px;
		border-radius: 4px;
		opacity: 0.2;
		transform-origin: center;
		transform: scale(2.5, 2.5);
	}
}

@keyframes pulse {
	0% {
		transform: scale(2.5, 2.5);
	}
	50% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(2.5, 2.5);
	}
}
