@import 'image/image-ie8';

@each $layout-name in $_o-grid-layout-names {
	.card[data-show~="#{$layout-name}--true"] {
		display: block;
	}

	.card[data-show~="#{$layout-name}--false"] {
		display: none;
	}

	.card__content--has-image .card__content__inner {
		.card[data-image-position~="#{$layout-name}--bottom"] & {
			padding-bottom: 56.25%;
		}

		.card[data-image-position~="#{$layout-name}--left"] &,
		.card[data-image-position~="#{$layout-name}--right"] & {
			padding-bottom: 0;
		}
	}
}

