.card {
	@include displayFlex;
	overflow: hidden;
	position: relative;
	background-color: getColor('pink');
	margin-top: oGridGutter();
	border-bottom: 1px solid getColor('warm-3');
	padding: 10px;
	flex-direction: column;
	line-height: 1;
	flex: 1 1 auto;
	-ms-flex-preferred-size: auto;
	// Workaround for Chrome 48 jumping boxes bug https://code.google.com/p/chromium/issues/detail?id=546034#c6
	min-height: 0;
	min-width: 0;

	@include oGridRespondTo(M) {
		margin-top: oGridGutter(M);
	}

	.section--top-stories & {
		border-bottom: 0;

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			box-sizing: border-box;
			left: 0;
			bottom: 0;
			border-left: oGridGutter() solid getColor('pink');
			border-right: oGridGutter() solid getColor('pink');
			background-color: getColor('warm-3');
		}

		&.card--picture-story:after {
			border-width: 0;
		}
	}

	.column--list &:before {
		content: '';
		position: absolute;
		height: 100%;
		width: 1px;
		box-sizing: border-box;
		right: 0;
		top: 0;
		border-top: oGridGutter() solid getColor('pink');
		border-bottom: oGridGutter() solid getColor('pink');
		background-color: getColor('warm-3');
	}

	&[data-show~="false"] {
		display: none;
	}

	.fast-ft & {
		margin-top: 0;
	}
}

.card--transparent {
	background-color: transparent;
}

@each $layout-name in $_o-grid-layout-names {
	@include oGridRespondTo($layout-name) {
		.card[data-show~="#{$layout-name}--true"] {
			@include displayFlex;
		}

		.card[data-show~="#{$layout-name}--false"] {
			display: none;
		}
	}
}

.card__content {
	position: relative;
}

.card__content--grow {
	flex-grow: 1;
}

.card__content--has-image .card__content__inner {
	// scss-lint:disable DuplicateProperty
	padding-bottom: 56.25%;
	padding-bottom: calc(56.25% + 10px);

	.card[data-image-position~="top"] & {
		// scss-lint:disable DuplicateProperty
		padding-top: 56.25%;
		padding-top: calc(56.25% + 10px);
		padding-bottom: 0;
	}

	.card[data-image-position~="left"] &,
	.card[data-image-position~="right"] & {
		padding-top: 0;
		padding-bottom: 0;
	}

	@each $layout-name in $_o-grid-layout-names {
		@include oGridRespondTo($layout-name) {
			.card[data-image-position~="#{$layout-name}--bottom"] & {
				// scss-lint:disable DuplicateProperty
				padding-top: 0;
				padding-bottom: 56.25%;
				padding-bottom: calc(56.25% + 10px);
			}

			.card[data-image-position~="#{$layout-name}--top"] & {
				// scss-lint:disable DuplicateProperty
				padding-top: 56.25%;
				padding-top: calc(56.25% + 10px);
				padding-bottom: 0;
			}

			.card[data-image-position~="#{$layout-name}--left"] &,
			.card[data-image-position~="#{$layout-name}--right"] & {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
	}
}


@import 'article';
@import 'concept';
@import 'video';
@import 'image/image';
@import 'related/related';
@import 'standfirst/standfirst';
@import 'tag/tag';
@import 'timestamp/timestamp';
@import 'title/title';
