.card {
	@include displayFlex;
	@include oColorsFor(card, background);
	overflow: visible;
	position: relative;
	margin-top: oGridGutter();
	border-bottom: 1px solid oColorsGetColorFor(card, border);
	padding: 10px;
	flex-direction: column;
	line-height: 1;
	flex: 1 1 auto;
	-ms-flex-preferred-size: auto;
	// Workaround for Chrome 48 jumping boxes bug https://code.google.com/p/chromium/issues/detail?id=546034#c6
	min-height: 0;
	min-width: 0;

	@include oGridRespondTo(M) {
		margin-top: oGridGutter(M);
	}

	.section--top-stories .section__column--content & {
		border-bottom: 0;

		&:before {
			// top rule
			content: '';
			position: absolute;
			height: 1px;
			left: oGridGutter();
			right: oGridGutter();
			top: -1 * (oGridGutter() / 2);
			background-color: oColorsGetColorFor(card, border);

			@include oGridRespondTo(M) {
				top: -1 * (oGridGutter(M) / 2);
			}
		}
	}

	.column--list & {
		&:before {
			opacity: 0.5;
		}

		&:after {
			// left rule
			content: '';
			position: absolute;
			width: 1px;
			right: -1 * (oGridGutter() / 2);
			top: oGridGutter();
			bottom: oGridGutter();
			background-color: oColorsGetColorFor(card, border);

			@include oGridRespondTo(M) {
				right: -1 * (oGridGutter(M) / 2);
			}
		}
	}

	&[data-show~="false"] {
		display: none;
	}

	.fast-ft & {
		margin-top: 0;
	}
}

.card--transparent {
	background-color: transparent;
}

@each $layout-name in $_o-grid-layout-names {
	@include oGridRespondTo($layout-name) {
		.card[data-show~="#{$layout-name}--true"] {
			@include displayFlex;
		}

		.card[data-show~="#{$layout-name}--false"] {
			display: none;
		}
	}
}

.card__content {
	position: relative;
}

.card__content--grow {
	flex-grow: 1;
}

.card__content--has-image .card__content__inner {
	// scss-lint:disable DuplicateProperty
	padding-bottom: 56.25%;
	padding-bottom: calc(56.25% + 10px);

	.card[data-image-position~="top"] & {
		// scss-lint:disable DuplicateProperty
		padding-top: 56.25%;
		padding-top: calc(56.25% + 10px);
		padding-bottom: 0;
	}

	.card[data-image-position~="left"] &,
	.card[data-image-position~="right"] & {
		padding-top: 0;
		padding-bottom: 0;
	}

	@each $layout-name in $_o-grid-layout-names {
		@include oGridRespondTo($layout-name) {
			.card[data-image-position~="#{$layout-name}--bottom"] & {
				// scss-lint:disable DuplicateProperty
				padding-top: 0;
				padding-bottom: 56.25%;
				padding-bottom: calc(56.25% + 10px);
			}

			.card[data-image-position~="#{$layout-name}--top"] & {
				// scss-lint:disable DuplicateProperty
				padding-top: 56.25%;
				padding-top: calc(56.25% + 10px);
				padding-bottom: 0;
			}

			.card[data-image-position~="#{$layout-name}--left"] &,
			.card[data-image-position~="#{$layout-name}--right"] & {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
	}
}


@import 'article';
@import 'concept';
@import 'video';
@import 'image/image';
@import 'related/related';
@import 'standfirst/standfirst';
@import 'tag/tag';
@import 'timestamp/timestamp';
@import 'title/title';
