.card {
	@include displayFlex;
	position: relative;
	background-color: getColor('pink');
	margin-top: oGridGutter();
	border-bottom: 1px solid getColor('warm-3');
	padding: 10px;
	flex-direction: column;
	line-height: 1;
	flex: 1 1 auto;

//Workaround for Chrome 48 jumping boxes bug https://code.google.com/p/chromium/issues/detail?id=546034#c6
	min-height: 0;
	min-width: 0;

	@include oGridRespondTo(M) {
		margin-top: oGridGutter(M);
	}

	&[data-show~="false"] {
		display: none;
	}

	&[data-size="tiny"][data-image-position~="left"] {
		padding-left: 120px;
		min-height: 56px;
	}

	.column--condensed & {
		margin-top: 0;
		border-bottom: 0;
		position: relative;

		@include oGridRespondTo(XL) {
			justify-content: center;
		}

		&:after {
			content: '';
			position: absolute;
			left: 5%;
			bottom: 0;
			width: 90%;
			border: 0 solid getColor('warm-3');
			border-bottom-width: 1px;
			opacity: 0.5;

			@include oGridRespondTo(M) {
				left: auto;
				width: auto;
				top: 10%;
				right: 0;
				height: 80%;
				border-bottom-width: 0;
				border-right-width: 1px;
			}

			@include oGridRespondTo(XL) {
				left: 5%;
				top: auto;
				bottom: 0;
				width: 90%;
				border-right-width: 0;
				border-bottom-width: 1px;
				height: 0;
			}
		}
	}

	.column--condensed .column:last-child &:after {
		border: 0;
	}

	.column--condensed .column:nth-child(n+4) &:after {
		@include oGridRespondTo($until: XL) {
			border: 0;
		}
	}
}

@each $layout-name in $_o-grid-layout-names {
	@include oGridRespondTo($layout-name) {
		.card[data-show~="#{$layout-name}--true"] {
			display: block;
			@include displayFlex;
		}

		.card[data-show~="#{$layout-name}--false"] {
			display: none;
		}

		.card[data-size="tiny"][data-image-position~="#{$layout-name}--left"] {
			padding-left: 120px;
			min-height: 56px;
		}

		.card[data-size="tiny"][data-image-position~="#{$layout-name}--bottom"] {
			padding-left: 10px;
			min-height: 0;
		}
	}
}


@import 'article';
@import 'concept';
@import 'video';
@import 'image/image';
@import 'related/related';
@import 'standfirst/standfirst';
@import 'tag/tag';
@import 'title/title';
