.layout-switcher {
	padding: 0;
	border: 1px solid oColorsGetPaletteColor('cold-1');
	border-width: 1px 0;
	text-align: center;
}

.layout-switcher__layout {
	display: inline-block;

	a {
		display: inline-block;
		padding: 0.3em 0.5em;
		border: 1px solid oColorsGetPaletteColor('cold-1');
		border-width: 0 0 0 1px;
	}

	&:last-child a {
		border-width: 0 1px;
	}
}

.layout-switcher__layout--selected a {
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
}
