.card__tag-wrapper {
	position: relative;

	.card[data-image-position~="right"]:not(.card--main) & {
		width: calc(50% - 10px);
		float: left;
	}

	.liveblog__badge + & {
		padding-top: 3px;
	}

	@each $layout-name in $_o-grid-layout-names {
		@include oGridRespondTo($layout-name) {
			.card[data-image-position*="#{$layout-name}--"] & {
				width: auto;
				float: none;
			}
			.card[data-image-position~="#{$layout-name}--right"]:not(.card--main) & {
				width: calc(50% - 10px);
				float: left;
			}
		}
	}
}

.card__tag {
	position: relative;
	margin: 0 0 5px;
	font-family: $o-typography-sans;
	font-weight: oFontsWeight(semibold);
	font-size: 16px;
	line-height: 1em;
	color: getColor('claret');

	.card--main & {
		font-size: 20px;
		line-height: 26px;
		margin-bottom: 10px;

		&:after {
			content: '';
			display: block;
			height: 1px;
			background-color: getColor('warm-3');
			width: 100%;
			position: absolute;
			top: 50%;
		}
	}
}

.card__tag--authors {
	color: getColor(claret);
}

.card__tag__link {
	display: inline-block;
	position: relative;
	color: inherit;
	border-bottom: 0;
	z-index: 1;
	background-color: getColor('pink');

	.card__tag--authors & {
		@include nextIcon('quote', getColor('claret'), 16, $icon-only: true);
		background-repeat: no-repeat;
		background-position: 0 50%;
		background-size: 16px 12px;
		padding-left: 21px;

		&:hover {
			@include nextIcon('quote', getColor('cold-1'), 16, $icon-only: true);
		}
	}

	.card--main & {
		padding-right: 10px;
	}
}

.card__tag__follow {
	position: absolute;
	top: 0;
	right: 0;
	padding-left: 10px;
	background-color: getColor('pink');
}
