.card__tag-wrapper {
	position: relative;

	.liveblog__badge + & {
		display: inline-block;
	}
}

.card__tag {
	@include oColorsFor(topic, text);
	position: relative;
	margin: 0 0 5px;
	padding-top: 4px;
	font-family: $o-typography-sans;
	font-weight: oFontsWeight(semibold);
	font-size: 16px;
	line-height: 1em;

	.card--main & {
		font-size: 20px;
		line-height: 26px;
		margin-bottom: 10px;

		&:after {
			content: '';
			display: block;
			height: 1px;
			background-color: oColorsGetColorFor(card, border);
			width: 100%;
			position: absolute;
			top: 50%;
		}
	}
}

.card__tag__link {
	@include oColorsFor(card, background);
	position: relative;
	color: inherit;
	border-bottom: 0;
	z-index: 1;

	.card--main & {
		padding-right: oGridGutter();

		@include oGridRespondTo(M) {
			padding-right: oGridGutter(M);
		}
	}
}

.card__tag__follow {
	@include oColorsFor(card, background);
	position: absolute;
	top: 0;
	right: 0;
	padding-left: oGridGutter();

	@include oGridRespondTo(M) {
		padding-left: oGridGutter(M);
	}
}
