.card__tag-wrapper {
	position: relative;
}

.card__tag {
	position: relative;
	margin: 0;
	font-family: $o-typography-sans;
	font-weight: oFontsWeight(semibold);
	font-size: 16px;
	line-height: 1em;
	color: getColor('claret');

	.card--main & {
		font-size: 20px;
		line-height: 26px;
		margin-bottom: 10px;

		&:after {
			content: '';
			display: block;
			height: 1px;
			background-color: getColor('warm-3');
			width: 100%;
			position: absolute;
			top: 50%;
		}
	}
}

.card__tag--inline:after {
	content: '';
	display: inline-block;
	width: 1px;
	height: 10px;
	margin: 0 5px 0 -6px;
	background-color: getColor('cold-2');
}

.card__tag--authors {
	color: getColor(claret);
}

.card__tag__link {
	position: relative;
	color: inherit;
	padding-right: 10px;
	border-bottom: 0;
	z-index: 1;
	background-color: getColor('pink');

	.card__tag--inline & {
		padding-right: 11px;
	}

	.card__tag--authors & {
		@include nextIcon(pullquote, getColor('claret'), 16, $icon-only: true);
		background-repeat: no-repeat;
		background-position: 0 50%;
		background-size: 16px 12px;
		padding-left: 21px;

		&:hover {
			@include nextIcon(pullquote, getColor('cold-1'), 16, $icon-only: true);
		}
	}
}

.card__tag__follow {
	position: absolute;
	top: 0;
	right: 0;
	padding-left: 10px;
	background-color: getColor('pink');
}
