@mixin storyCardFooter {
	@include nTypeAlpha(5);
	position: relative;
	width: 100%;
	text-transform: uppercase;
	height: $story-card--footer-height;
	line-height: $story-card--footer-height;
	align-self: flex-end;

	.time-icon {
		margin-top: -3px;
	}

	// NOTE - absolute positioning (rather than line-height) needed for BB7
	time,
	.n-myft-ui--save {
		position: absolute;
		top: 0;
	}

	time {
		color: oColorsGetColorFor('timestamp', 'text');
		left: 10px;
	}

	.n-myft-ui--save {
		right: 10px;
	}
}
