@import 'variables';
@import 'footer';
@import 'liveblog';

.o-grid-container--compact {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.story-card {
	background-color: oColorsGetColorFor('card', 'background');
	margin-bottom: oGridGutter();
	padding-bottom: $story-card--footer-height;
	font-size: 18px;
	width: 100%;
	min-width: 0 !important;

	@include oGridRespondTo(M) {
		margin-bottom: oGridGutter(M);
	}
}

.story-card__image-link {
	border-bottom: 0;
}

.story-card__image {
	display: block;
	width: 100%;
}

.story-card__content-inner {
	padding: 10px 10px 0;
}

.story-card__taxon {
	@include nTypeBravoSize(4);
	display: inline-block;
	margin-bottom: 5px;

	&.story-card__link,
	.story-card__link {
		@include nLinksTopic();
	}
}

.story-card__link {
	border-bottom: 0;
}

.story-card__heading {
	display: inline-block;
	margin-bottom: 7px;
}

.story-card__title,
.story-card__related-link {
	@include nTypeFoxtrot(3);

	a {
		@include nLinksHeadline();
	}
}

.story-card__related-link {
	@include nTypeFoxtrotSize(4);
	margin-top: oGridGutter();
	font-size: 16px;

	@include oGridRespondTo(M) {
		margin-top: oGridGutter(M);
	}
}

.story-card__related-link-inner {
	padding-left: 10px;
	border-bottom: 1px dotted oColorsGetPaletteColor('warm-3');

	@include oGridRespondTo(M) {
		padding-left: 0;
		border-bottom: 0;
	}
	.story-card__related-link:first-child > & {
		padding-left: 10px;
	}
	.story-card__related-link:nth-child(3) > & {
		padding-right: 10px;
	}
}

.story-card__summary {
	@include nTypeDelta(3);
	line-height: 1;
	font-size: 18px;
}

.story-card__footer {
	@include storyCardFooter;
}

@mixin nhStoryCard($type) {
	@if $type == 'large' {
		@include nhLargeCard();
	} @else if $type == 'tall' {
		@include nhTallCard();
	} @else if $type == 'medium' {
		@include nhMediumCard();
	} @else if $type == 'wide' {
		@include nhWideCard();
	} @else if $type == 'wideImageless' {
		@include nhWideImagelessCard();
	} @else if $type == 'small' {
		@include nhSmallCard();
	}

}

@mixin nhLargeCard() {
	font-size: 1.2em;

	.story-card__image-link {
		@include oGridColspan((default: 12, M: 8));
	}
	.story-card__content {
		@include oGridColspan((default: 12, M: 4));
	}
	.story-card__content-inner {
		@include oGridRespondTo(M) {
			padding-left: 0;
		}
	}
	.story-card__title {
		@include nTypeFoxtrotSize(2);
	}
	.story-card__summary {
		@include oGridRespondTo($from: L) {
			display: initial;
		}
	}
}

@mixin nhMediumCard {
	.story-card__image {
		display: none;
	}
	.story-card__content {
		@include oGridColspan(12);
	}
	.story-card__summary {
		display: none;
	}
}

@mixin nhSmallCard {
	.story-card__image {
		display: none;
	}
	.story-card__content {
		@include oGridColspan(12);
	}
	.story-card__summary {
		display: none;
	}
}

@mixin nhTallCard {
	.story-card__image-link {
		@include oGridColspan(12);
	}
	.story-card__content {
		@include oGridColspan(12);
	}
	.story-card__content-inner {
		padding-left: 10px;
	}
	.story-card__summary {
		display: none;
	}
}

@mixin nhWideCard() {
	.story-card__image-link {
		@include oGridColspan(4);
	}
	.story-card__content {
		@include oGridColspan(8);
	}
	.story-card__content-inner {
		padding-left: 0;
	}
	.story-card__summary {
		display: none;
	}
}

@mixin nhWideImagelessCard {
	.story-card__image {
		display: none;
	}
	.story-card__content {
		@include oGridColspan(12);
		margin: 0;
	}
	.story-card__summary {
		display: none;
	}
}
