.ad-placeholder--most-popular,
.ad-placeholder--editors-picks {
	margin-top: oGridGutter();
	@include oGridRespondTo(M) {
		margin-top: oGridGutter(M);
	}
}

//Workaround for Chrome 48 jumping boxes bug https://code.google.com/p/chromium/issues/detail?id=546034#c6
.ad-placeholder {
	min-width: 0;
	min-height: 0;
}
