.section-editor h3 {
	@include nTypeAlpha(3);
	a {
		display: block;
		padding: 0.5em;
		border: 1px solid oColorsGetPaletteColor('cold-1');
		border-width: 0 0 1px;
	}
}

.section-editor__editor {
	padding: 0;

	li {
		list-style: none;
	}
}

.section-editor--collapsed .section-editor__editor,
.section-editor--collapsed .section-editor__tools {
	display: none;
}

.section-editor__tools {
	border: 1px solid oColorsGetPaletteColor('cold-1');
	border-width: 0 0 1px;

	a {
		@include nTypeAlpha(3);
		display: inline-block;
		border: 0;
		border-radius: 4px;
		background-color: rgba(255, 255, 255, 0.3);
		padding: 0.5em 1em;
		margin: 0.4em;
	}
}
