.card__title {
	display: block;
	font-family: $o-typography-serif-display;
	font-weight: oFontsWeight(regular);
	margin: 5px 0 0;

	&:first-child {
		margin-top: 0;
		.card__title-link {
			padding-right: 0;
		}
	}
	.section--editors-picks & {
		font-family: $o-typography-sans;
	}
	.card--video & {
		@include oTypographySans(m);
		margin: 0 10px 10px;
	}
	&:first-child:after {
		display: none;
		content: '';
		width: 1px;
		height: 10px;
		margin: 0 5px 0 -6px;
		background-color: getColor('cold-2');
	}
	.card[data-size=tiny] & {
		display: inline;

		&:first-child {
			&:after {
				display: inline-block;
			}
			.card__title-link {
				padding-right: 11px;
			}
		}
	}
}

// font-size/line-height pairs
$card-title-text-sizes: (
	default: (
		tiny: 18 20,
		small: 20 22,
		medium: 22 24,
		large: 22 24,
		large-top-story: 26 28,
		large-no-image: 40 38
	),
	S: (
		tiny: 16 16,
		small: 20 22,
		medium: 24 26,
		large: 24 26,
		large-top-story: 28 30,
		large-no-image: 38 40
	),
	M: (
		tiny: 16 18,
		small: 18 20,
		medium: 22 24,
		large: 22 24,
		large--story: 30 32,
		large-no-image: 40 42
	),
	L: (
		tiny: 16 16,
		small: 20 22,
		medium: 26 28,
		large: 34 34,
		large-top-story: 34 34,
		large-no-image: 44 46
	)
);

@mixin card-title($text-size, $font-size, $line-height) {
	font-size: $font-size + 0px;
	line-height: $line-height + 0px;
	@if $text-size == 'tiny' {
		display: inline;

		&:first-child {
			&:after {
				display: inline-block;
			}
			.card__title-link {
				padding-right: 11px;
			}
		}
	} @else {
		display: block;

		&:first-child {
			&:after {
				display: none;
			}
			.card__title-link {
				padding-right: 0;
			}
		}
	}
}

@each $breakpoint, $text-sizes in $card-title-text-sizes {
	@if ($breakpoint == 'default') {
		@each $text-size, $font-sizes in $text-sizes {
			.card[data-size="#{$text-size}"] .card__title {
				@include card-title($text-size, nth($font-sizes, 1), nth($font-sizes, 2));
			}
		}
	} @else {
			@include oGridRespondTo($breakpoint) {
				@each $text-size, $font-sizes in $text-sizes {
					.card[data-size="#{$text-size}"] .card__title {
						@include card-title($text-size, nth($font-sizes, 1), nth($font-sizes, 2));
					}
				}
			}
	}
}

.card__title-link {
	color: inherit;
	border-bottom: 0;

	&:hover {
		border-bottom: 1px dotted;
	}
}
