.card__title {
	font-family: $o-typography-serif-display;
	font-weight: oFontsWeight(regular);
	margin: 5px 0 0;

	&:first-child {
		margin-top: 0;
	}
	.section--editors-picks & {
		font-family: $o-typography-sans;
	}
	.card--video & {
		@include oTypographySans(m);
		margin: 0 10px 10px;
	}
	&:first-child:after {
		display: none;
		content: '';
		width: 1px;
		height: 10px;
		margin: 0 5px 0 -6px;
		background-color: getColor('cold-2');
	}
}

// font-size/line-height pairs
$card-title-text-sizes: (
	default: (
		tiny: 18 20,
		small: 20 22,
		medium: 22 24,
		large: 26 28,
		huge: 40 38
	),
	S: (
		tiny: 16 16,
		small: 20 22,
		medium: 24 26,
		large: 28 30,
		huge: 38 40
	),
	M: (
		tiny: 16 18,
		small: 18 20,
		medium: 22 24,
		large: 30 32,
		huge: 40 42
	),
	L: (
		tiny: 16 16,
		small: 20 22,
		medium: 26 28,
		large: 34 34,
		huge: 44 46
	),
	XL: (
		tiny: 16 16,
		small: 20 22,
		medium: 26 28,
		large: 34 34,
		huge: 44 46
	)
);
$breakpoints: map-keys($card-title-text-sizes);

@mixin card-title($text-size, $font-size, $line-height) {
	font-size: $font-size + 0px;
	line-height: $line-height + 0px;
	@if $text-size == 'tiny' {
		display: inline;

		&:first-child {
			&:after {
				display: inline-block;
			}
			.card__title-link {
				padding-right: 11px;
			}
		}
	} @else {
		display: block;

		&:first-child {
			&:after {
				display: none;
			}
			.card__title-link {
				padding-right: 0;
			}
		}
	}
}

@each $breakpoint in $breakpoints {
	@if ($breakpoint == 'default') {
		@each $cardBreakpoint, $text-sizes in $card-title-text-sizes {
			@if ($cardBreakpoint == 'default') {
				@each $text-size, $font-sizes in $text-sizes {
					.card__title--#{$text-size} {
						@include card-title($text-size, nth($font-sizes, 1), nth($font-sizes, 2));
					}
				}
			} @else {
				@include oGridRespondTo($cardBreakpoint) {
					@each $text-size, $font-sizes in $text-sizes {
						.card__title--#{$text-size} {
							@include card-title($text-size, nth($font-sizes, 1), nth($font-sizes, 2));
						}
					}
				}
			}
		}
	} @else {
		@each $cardBreakpoint, $text-sizes in $card-title-text-sizes {
			@if (index($breakpoints, $cardBreakpoint) >= index($breakpoints, $breakpoint)) {
				@include oGridRespondTo($cardBreakpoint) {
					@each $text-size, $font-sizes in $text-sizes {
						.card__title--#{$breakpoint}--#{$text-size} {
							@include card-title($text-size, nth($font-sizes, 1), nth($font-sizes, 2));
						}
					}
				}
			}
		}
	}
}

.card__title-link {
	color: inherit;
	border-bottom: 0;

	&:hover {
		border-bottom: 1px dotted;
	}
}
