.card__title-link {
	border-bottom: 0;

	&:hover {
		border-bottom: 1px dotted;
	}
}

.card__title {
	font-family: $o-typography-serif-display;
	font-weight: oFontsWeight(regular);
	margin-top: 5px;

	.section--editors-picks & {
		font-family: $o-typography-sans;
	}
	.card--video & {
		@include oTypographySans(m);
		margin: 5px 10px 10px;
	}
}

// font-size/line-height pairs
$card-title-text-sizes: (
	default: (
		tiny: 18 20,
		small: 20 22,
		medium: 22 24,
		large: 26 28,
		huge: 40 38
	),
	S: (
		tiny: 16 16,
		small: 20 22,
		medium: 24 26,
		large: 28 30,
		huge: 38 40
	),
	M: (
		tiny: 16 16,
		small: 20 22,
		medium: 26 28,
		large: 30 32,
		huge: 40  42
	),
	L: (
		tiny: 16 16,
		small: 20 22,
		medium: 26 28,
		large: 34 34,
		huge: 44 46
	),
	XL: (
		tiny: 16 16,
		small: 20 22,
		medium: 26 28,
		large: 34 34,
		huge: 44 46
	)
);

@each $breakpoint, $text-sizes in $card-title-text-sizes {
	@if $breakpoint == 'default' {
		@each $text-size, $font-sizes in $text-sizes {
			.card__title--#{$text-size} {
				font-size: nth($font-sizes, 1) + 0px;
				line-height: nth($font-sizes, 2) + 0px;
				@if $text-size == 'tiny' {
					display: inline;

					&:before {
						content: '|';
						margin: 0 5px;
					}
				} @else {
					display: block;

					&:before {
						content: '';
						margin: 0;
					}
				}
			}
		}
	} @else {
		@include oGridRespondTo($breakpoint) {
			@each $text-size, $font-sizes in $text-sizes {
				.card__title--#{$text-size},
				.card__title--#{$breakpoint}--#{$text-size} {
					font-size: nth($font-sizes, 1) + 0px;
					line-height: nth($font-sizes, 2) + 0px;
				}
				.card__title--#{$breakpoint}--#{$text-size} {
					@if $text-size == 'tiny' {
						display: inline;

						&:before {
							content: '|';
							margin: 0 5px;
						}
					} @else {
						display: block;

						&:before {
							content: '';
							margin: 0;
						}
					}
				}
			}
		}
	}
}
