// HACK this is for the horizontal rules to align,
// it should be solved by some general column container in Section rather than here
.fast-ft-wrapper {
	padding-top: oGridGutter();

	@include oGridRespondTo(M) {
		padding-top: oGridGutter(M);
	}
}

.fast-ft {
	margin-bottom: 10px;
}

.fast-ft--new {
	@include oColorsFor(page, background);
	flex: 1 1 auto;
	margin: oGridGutter() 0 0;

	@include oGridRespondTo(M) {
		margin-top: oGridGutter(M);
	}
}

.fast-ft__logo-outer {
	@include oColorsFor(fast-ft, background);
	margin: 0;
	line-height: 17px;
	padding: 10px;
}

.fast-ft__link {
	display: inline-block;
	border-bottom: 0;
}

.fast-ft__logo--fast {
	@include nextIcon(brand-fast, oColorsGetColorFor(fast-ft, text), 30);
	background-size: 100% 13px;
}

.fast-ft__logo--ft {
	@include nextIcon(brand-ft, getColor('warm-4'), 30);
	background-size: 100% 17px;
}

.fast-ft__logo {
	height: 100%;
	text-indent: -9999px;
	background-position: 0 100%;
}

.fast-ft__items {
	margin: 0 0 10px;
	padding: 0;
	list-style: none;

	.fast-ft--new & {
		margin: 0;
	}
}
