 // HACK this is for the horizontal rules to align,
 // it should be solved by some general column container in Section rather than here
.fast-ft-wrapper {
	padding-top: oGridGutter();

	@include oGridRespondTo(M) {
		padding-top: oGridGutter(M);
	}
}
.fast-ft {
	background-color: getColor('pink');
	border-left: 1px solid getColor('warm-3');
	padding: 10px;
	margin-bottom: 10px;
}

.fast-ft__logo-outer {
	margin: 0;
	line-height: 17px;
}
.fast-ft__link {
	display: inline-block;
	border-bottom: 0;
}
.fast-ft__logo--fast {
	@include nextIcon(brand-fast, getColor('fastft-brand'), 30);
	background-size: 100% 13px;
}
.fast-ft__logo--ft {
	@include nextIcon(brand-ft, getColor('warm-4'), 30);
	background-size: 100% 17px;
}
 .fast-ft__logo {
	 height: 100%;
	 text-indent: -9999px;
	 background-position: 0 100%;
 }
.fast-ft__items {
	margin: 10px 0;
	padding: 0;
	list-style: none;
}
.fast-ft__item {
	margin-top: 10px;

	*:first-child > & {
		margin-top: 0;
	}
}
.fast-ft__item--hide-desktop {
	@include oGridRespondTo(L) {
		display: none;
	}
}
.fast-ft__time {
	@include oTypographySans(s);
	color: getColor('claret');
}
.fast-ft__item__title {
	@include oTypographySans(s);
	margin: 0;
}
.fast-ft__item__title-link {
	color: inherit;
	border-bottom: 0;

	&:hover {
		border-bottom: 1px dotted;
	}
}
