.column {
    @include displayFlex;
    flex-direction: column;

    .o-grid-row {
		flex: 1;
		-ms-flex-preferred-size: auto;
    }

    &[data-o-grid-colspan~="hide"] {
        @include oGridRespondTo($until: S) {
            display: none;
        }
    }

    &[data-o-grid-colspan~="Shide"] {
        @include oGridRespondTo(S, $until: M) {
            display: none;
        }
    }

    &[data-o-grid-colspan~="Mhide"] {
        @include oGridRespondTo(M, $until: L) {
            display: none;
        }
    }

    &[data-o-grid-colspan~="Lhide"] {
        @include oGridRespondTo(L, $until: XL) {
            display: none;
        }
    }

    &[data-o-grid-colspan~="XLhide"] {
        @include oGridRespondTo(XL) {
            display: none;
        }
    }

    //Try and match the editors picks cards with the ad height
    &.editors-picks__column {
        @include oGridRespondTo(L) {
            min-height: 264px;
        }
    }
}

.column--condensed {
	margin-top: oGridGutter(M);
}

.card {
	.column--condensed & {
		margin-top: 0;
		border-bottom: 0;
		position: relative;

		@include oGridRespondTo(XL) {
			justify-content: center;
		}

		&:after {
			content: '';
			position: absolute;
			left: 5%;
			bottom: 0;
			width: 90%;
			border: 0 solid getColor('warm-3');
			border-bottom-width: 1px;
			opacity: 0.5;

			@include oGridRespondTo(M) {
				left: auto;
				width: auto;
				top: 10%;
				right: 0;
				height: 80%;
				border-bottom-width: 0;
				border-right-width: 1px;
			}

			@include oGridRespondTo(XL) {
				left: 5%;
				top: auto;
				bottom: 0;
				width: 90%;
				border-right-width: 0;
				border-bottom-width: 1px;
			}
		}
	}

	.column--condensed .column:last-child &:after {
		border: 0;
	}

	@include oGridRespondTo($until: XL) {
		.column--condensed .column:nth-child(n+4) &:after {
			border: 0;
		}
	}
}
