.column {
	@include displayFlex;
	flex-direction: column;

	.o-grid-row {
		flex: 1 1 auto;
		-ms-flex-preferred-size: auto;
	}

	&[data-o-grid-colspan~="hide"] {
		@include oGridRespondTo($until: S) {
			display: none;
		}
	}

	&[data-o-grid-colspan~="Shide"] {
		@include oGridRespondTo(S, $until: M) {
			display: none;
		}
	}

	&[data-o-grid-colspan~="Mhide"] {
		@include oGridRespondTo(M, $until: L) {
			display: none;
		}
	}

	&[data-o-grid-colspan~="Lhide"] {
		@include oGridRespondTo(L, $until: XL) {
			display: none;
		}
	}

	&[data-o-grid-colspan~="XLhide"] {
		@include oGridRespondTo(XL) {
			display: none;
		}
	}
}

.column--list {
	&:before {
		// vertical column rule
		content: '';
		position: absolute;
		height: 1px;
		left: 2 * oGridGutter();
		right: oGridGutter();
		top: oGridGutter() / 2;
		background-color: oColorsGetColorFor(card, border);

		@include oGridRespondTo(M) {
			left: oGridGutter(M) + oGridGutter();
			top: oGridGutter(M) / 2;
		}

		@include oGridRespondTo(XL) {
			// horizontal column rule
			height: auto;
			width: 1px;
			left: oGridGutter(M) / 2;
			right: auto;
			top: oGridGutter() + oGridGutter(M);
			bottom: oGridGutter() + oGridGutter(M);
		}
	}

	&:after {
		// hide card's right rules
		@include oColorsFor(page, background);
		content: '';
		position: absolute;
		height: 100%;
		width: 1px;
		right: -1 * (oGridGutter() / 2);
		top: 0;

		@include oGridRespondTo(M) {
			right: -1 * (oGridGutter(M) / 2);
		}
	}
}
