@import "next-sass-setup/main";
@import "../feed/main";
@import "../client/colors";

@mixin nhFastFtTitle {
	a {
		display: block;
		border-bottom: 0;
	}

	.fastft__logo__fast {
		@include nextIcon(brand-fast, oColorsGetPaletteColor(fastft-brand), 40);
		text-indent: -9999px;
		background-size: contain;
		background-position: center;
		height: 45px;
	}

	.fastft__logo__ft {
		@include nextIcon(brand-ft, oColorsGetPaletteColor(warm-4), 40);
		text-indent: -9999px;
		background-size: contain;
		background-position: center;
	}

	.fastft__more-icon {
		float: right;
	}
}

#fastft {
	h1 { @include nhFastFtTitle; }
	article { @include nhFeedItem(fastft-brand); }
}
