.card {
	.section--opinion & {
		@include oColorsFor(card, background);
	}

	.fast-ft & {
		margin-top: 0;
	}

	.section--background & {
		margin-top: 0;

		&:before {
			top: -1px !important;

			#top-stories-more & {
				top: 0 !important;
			}
		}
	}

	.section--background .section__column--content & {
		border-bottom: 0;

		&:before {
			// top rule
			content: '';
			position: absolute;
			height: 1px;
			left: oGridGutter();
			right: oGridGutter();
			top: -1 * (oGridGutter() / 2);
			background-color: oColorsGetColorFor(card, border);

			@include oGridRespondTo(M) {
				top: -1 * (ceil(oGridGutter(M) / 2));
			}
		}
	}
}

.card__timestamp {
	.fast-ft & {
		@include oColorsFor(fast-ft, text);
	}
}
