.card {
	margin-top: oGridGutter();
	border-bottom-width: 0;

	@include oGridRespondTo(M) {
		margin-top: oGridGutter(M);
	}

	// top rule
	&:before {
		content: '';
		position: absolute;
		height: 2px;
		left: 0;
		right: 0;
		top: 0;
		background-color: oColorsGetColorFor(card, border);
	}

	.section--opinion & {
		@include oColorsFor(card, background);
	}

	.fast-ft & {
		margin-top: 0;
	}
}

.card__timestamp {
	.fast-ft & {
		@include oColorsFor(fast-ft, text);
	}
}

.card__title {
	.card--video & {
		margin: 0;
	}
}
