.card {
	margin-top: oGridGutter();

	@include oGridRespondTo(M) {
		margin-top: oGridGutter(M);
	}

	// top rule
	&:before {
		content: '';
		position: absolute;
		height: 1px;
		left: 0;
		right: 0;
		top: -1px;
		background-color: oColorsGetColorFor(card, border);
	}

	// left rule
	&:after {
		content: '';
		position: absolute;
		width: 1px;
		top: oGridGutter() / 2;
		bottom: oGridGutter() / -2;
		left: oGridGutter() / -2;
		background-color: oColorsGetColorFor(card, border);

		@include oGridRespondTo(M) {
			top: oGridGutter(M) / 2;
			bottom: oGridGutter(M) / -2;
			left: oGridGutter(M) / -2;

			.column--related & {
				bottom: oGridGutter(M) / 2;
			}
		}
	}

	&.card--picture-story:after {
		top: 0;
		bottom: 0;
	}

	.fast-ft &,
	.section--myft &,
	.section--video & {
		&:after {
			display: none;
		}
	}

	.fast-ft & {
		background-color: getColor('warm-5');
		margin-top: 0;
	}

	.column--related & {
		margin-top: 0;
	}
}

.card--opinion:before {
	background-color: oColorsGetColorFor(author, text);
}

.card__timestamp {
	.fast-ft & {
		@include oColorsFor(fast-ft, text);
	}
}

.card__image {
	border: 0;
}
