{{#ifEquals adsLayout 'default'}}
	<div class="above-header-advert o-ads" data-o-ads-name="leaderboard" data-o-ads-targeting="pos=banlb;" aria-hidden="true"></div>
{{else}}
	{{#ifEquals adsLayout 'superleaders'}}
		<div class="above-header-advert o-ads" data-o-ads-name="superleaderboard" data-o-ads-targeting="pos=entry;" aria-hidden="true"></div>
	{{else}}
		<div class="above-header-advert o-ads" data-o-ads-name="billboard" data-o-ads-targeting="pos=entry;" aria-hidden="true"></div>
	{{/ifEquals}}
{{/ifEquals}}
